<footer>
  <nav class="footer-nav" aria-label="Page">
    {% for node in site.html_pages %}
      {% if node.title == page.title %}
        {% assign prev = forloop.index0 | minus: 1 %}
        {% assign next = forloop.index0 | plus: 1 %}

        {% if prev >= 0 %}
          <a href="{{ site.baseurl }}{{ site.html_pages[prev].permalink }}.html" class="previous-link"><span aria-hidden="true" class="material-icons">keyboard_arrow_left</span> Previous</a>
        {% endif %}

        <div class="center-info">
          <div class="current">
            <span>{{ forloop.index }} of {{ site.html_pages | size | minus:1 }}</span>
          </div>
          <div class="scroll-down">
            <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
            <span>Scroll Down</span>
            <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
          </div>
        </div>

        {% if site.html_pages[next].navigation != false %}
          <a href="{{ site.baseurl }}{{ site.html_pages[next].permalink }}.html" class="next-link">Next <span aria-hidden="true" class="material-icons">keyboard_arrow_right</span></a>
        {% endif %}

      {% endif %}
    {% endfor %}
  </nav>

  <section aria-label="Western footer" class="wwu-footer">
    {%- include logo.html -%}

    <div class="tribal-lands-statement">
      <h2 class="visually-hidden">Tribal Lands Statement</h2>
      <p>Western Washington University's main campus is situated on the ancestral homelands of the Coast Salish Peoples, who have lived in the Salish Sea basin, all throughout the San Juan Islands and the North Cascades watershed from time immemorial. We express our deepest respect and gratitude to our Indigenous neighbors, for their enduring care and protection of our shared lands and waterways.</p>
      <p><a href="https://www.wwu.edu/tribal-lands-statement">Access our inclusive Tribal Lands Statement.</a> </p>
    </div>

    <div class="western-info">
      <h2 class="visually-hidden">Western Contact Info</h2>
      <p>516 High Street, Bellingham, WA 98225</p>
      <p>
        <a href="tel:3606503000">(360) 650-3000</a>
        <span aria-hidden="true"> | </span>
        <a href="https://www.wwu.edu/wwucontact/">Contact Western</a>
      </p>

      <h2 class="visually-hidden">University Links</h2>
      <p>
        <a href="https://calendar.wwu.edu/">Calendar</a>
        <span aria-hidden="true"> | </span>
        <a href="https://www.wwu.edu/directory">University Directory</a>
        <span aria-hidden="true"> | </span>
        <a href="https://www.wwu.edu/campus-maps">Map</a>
      </p>

      <h2 class="visually-hidden">Policy Links</h2>
      <p><a href="https://www.wwu.edu/online-privacy-statement">Privacy</a> <span aria-hidden="true">|</span> <a href="https://www.wwu.edu/commitment-accessibility">Accessibility Notice</a></p>
    </div>

    <div class="copyright">
      <p>© 2021 Western Washington University</p>
    </div>
  </section>
</footer>

<script src="{{ '/assets/js/aos.js' | relative_url }}"></script>
<script src="{{ '/assets/js/aos-init.js' | relative_url }}"></script>
<script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
