<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/aos.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/{{ page.css }}">
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
