
<div class="logo make-waves">

  <span class="visually-hidden">Western Washington University
  </span>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 423" aria-hidden="true">
    <defs>
      <style>.cls-1{fill:#003f87;}.cls-2{fill:#fff;}.cls-3{fill:#007ac8;}
      </style>
    </defs>

    <rect class="cls-1" width="576" height="423"/>
    <path class="cls-2" d="M38.8,172.5c5.6,0,10.2.6,17.7.6,8-.1,11.9-.3,15.2-.4a2.8,2.8,0,0,1,0,2.2,33.6,33.6,0,0,0-5.9,1.4c-1.9.9-2.4,2.4-1.4,6.2,3.4,14.2,12.2,44.1,17.1,60.3a.78.78,0,0,0,.4-.3c5-13.9,19.7-55.4,22.4-66.1a46,46,0,0,0,5.3-.1c2.6,10.9,18.5,55.3,23.1,66.9.1,0,.4-.1.6-.1,3.6-11.3,13.9-45.4,16.4-57.3.9-4.4,1.2-8.2-2.6-9.3a65,65,0,0,0-8-1.6c-.3-.4-.4-1.9,0-2.2,3,0,9.9.4,15.5.4,7.8,0,11.5-.3,14.4-.4a2.17,2.17,0,0,1,0,2.2,42.32,42.32,0,0,0-6.9,1.7c-3,1.4-4.5,3.6-6.5,9.3-5.7,16.5-19.4,61.2-23.4,75.8a51.37,51.37,0,0,0-5.5.1c-3.6-12.6-16.5-49.4-23.1-67.5a.68.68,0,0,0-.6.3c-5.2,14.9-19.4,55-23,66.9a39.36,39.36,0,0,0-5.9.1c-4.2-17.5-16.5-61.6-21.3-75.1-2.4-7.5-3.9-9.3-7.9-10.5a49.71,49.71,0,0,0-6.5-1.3C38.2,174.5,38.2,172.7,38.8,172.5Z"/>
    <path class="cls-2" d="M158.7,197.9c2.4,0,8.2.4,13.8.4H194c5.9,0,9.3-.1,11.4-.6,0,0,.4.3.4.4a74.73,74.73,0,0,0-2.2,14.8,2.8,2.8,0,0,1-2.2,0,32,32,0,0,0-1.3-6.6c-.7-2.9-1.4-4.2-5.3-4.5-2.6-.3-13.9-.1-15.4,0-.7.1-1.1,1.4-1.1,1.9-.1,7-.3,19.8-.1,22.1a.67.67,0,0,0,.6.7c4.7,0,12.2,0,15.2-.1,3.2-.1,3.7-2.2,4.5-4.2a28.75,28.75,0,0,0,.9-4,5.77,5.77,0,0,1,2.3.1c-.1,1.4-.6,7.5-.6,10.2,0,2,.3,7.8.3,10.2a2.55,2.55,0,0,1-2.4,0,30.57,30.57,0,0,0-.9-4.3c-.6-1.6-1.3-3.3-4-3.6-3.2-.3-11.1-.3-15.4-.3-.1,0-.4.7-.4.9,0,2.6,0,13.9.1,20.1.1,3.3,1.7,4.6,2.4,4.7,2.4.6,7,.7,13.8.7,5.9,0,7.2-1.4,8.8-3a36.18,36.18,0,0,0,5.9-10.3c.4-.1,2,.3,2.2.9-.3,2.4-3,11.8-5,15.4-.3.7-1.2,1-3.9,1-5.5,0-14.5-.3-29.9-.3-6.6,0-11.8.4-16.2.4a3.05,3.05,0,0,1,0-2.3,41.76,41.76,0,0,0,7.9-1.1c2.4-.7,3.3-1.6,3.5-5.7.1-3.7.1-13.6.1-25.4,0-9.8-.1-18.2-.1-20.1-.3-3.3-.9-4.3-3.3-5.2a30.63,30.63,0,0,0-5.7-1C158.3,199.9,158.3,198,158.7,197.9Z"/>
    <path class="cls-2" d="M228.3,256.6c2.6,2,6.6,3,10.2,3,6.3,0,11.9-3.3,11.9-10.8,0-5.9-2.7-9.8-14.1-15.7-10.5-5.6-15.5-10.5-15.5-19.5,0-11.3,10.3-17.2,21.5-17.2a70,70,0,0,1,9.8.7c2.3.3,5,.7,6,.7a142.19,142.19,0,0,0-1.7,15.2c-.3.3-2,.4-2.2,0-.4-6.3-1.9-9.5-4.2-11.3s-5.5-2.6-9.3-2.6c-7.3,0-10.9,5-10.9,10.5s2.9,8.9,7,11.3c4.9,2.9,8.8,4.9,13.1,7.3,5.3,3,10.3,7.5,10.3,15.4,0,10.1-9,18.8-23.7,18.8-5.9,0-13.6-1.9-15.8-3.2-.9-1.4-2.2-12.4-2.3-15.9.1-.3,1.7-.7,2.1-.6C222.6,250,225.2,254.5,228.3,256.6Z"/>
    <path class="cls-2" d="M285.6,257.9c3-.6,4-2.3,4.2-7.2.3-4.5.4-32,.4-48.3a.85.85,0,0,0-.7-.7c-1.9-.1-9.9,0-12.1.1s-4,1.4-5.3,3.7a78.88,78.88,0,0,0-4.2,9.8,5.55,5.55,0,0,1-2.2-.6c.9-4.2,1.7-13.5,2-17.8,0-.1.3-.3.6-.1a20.76,20.76,0,0,0,7.9,1.3H316c3.5,0,5.7.1,9.2-1.2a.42.42,0,0,1,.4.4c-1,3.6-1.6,12.8-2,18.1-.3.3-2.3.4-2.3,0a36.74,36.74,0,0,0-2-9.3c-1.2-2.9-2.7-3.9-5-4-3.7-.3-11.1-.4-13.2-.3-.3.1-.4.4-.4.9,0,14.5,0,45.2.4,50.6.1,2.2,1,3.9,3.3,4.6,1.6.4,3.4.6,6.2,1,.4.1.3,2-.1,2.2-3,0-9.3-.4-15.9-.4-7.3,0-12.9.6-15.7.4-.4-.3-.4-2,0-2.2A55.39,55.39,0,0,0,285.6,257.9Z"/>
    <path class="cls-2" d="M330.8,197.9c2.4,0,8.2.4,13.8.4h21.5c5.9,0,9.3-.1,11.3-.6,0,0,.4.3.4.4a74.73,74.73,0,0,0-2.2,14.8,2.8,2.8,0,0,1-2.2,0,32,32,0,0,0-1.3-6.6c-.7-2.9-1.4-4.2-5.3-4.5-2.6-.3-13.9-.1-15.4,0-.7.1-1.2,1.4-1.2,1.9-.1,7-.3,19.8-.1,22.1a.67.67,0,0,0,.6.7c4.7,0,12.2,0,15.2-.1,3.2-.1,3.7-2.2,4.5-4.2a28.75,28.75,0,0,0,.9-4,5.77,5.77,0,0,1,2.3.1c-.1,1.4-.6,7.5-.6,10.2,0,2,.3,7.8.3,10.2a2.55,2.55,0,0,1-2.4,0,30.57,30.57,0,0,0-.9-4.3c-.6-1.6-1.3-3.3-4-3.6-3.2-.3-11.1-.3-15.4-.3-.1,0-.4.7-.4.9,0,2.6,0,13.9.1,20.1.1,3.3,1.7,4.6,2.4,4.7,2.4.6,7,.7,13.8.7,5.9,0,7.2-1.4,8.8-3a36.18,36.18,0,0,0,5.9-10.3c.4-.1,2,.3,2.2.9-.3,2.4-3,11.8-5,15.4-.3.7-1.1,1-3.9,1-5.5,0-14.5-.3-29.9-.3-6.6,0-11.8.4-16.2.4a3.05,3.05,0,0,1,0-2.3,41.76,41.76,0,0,0,7.9-1.1c2.4-.7,3.3-1.6,3.4-5.7.1-3.7.1-13.6.1-25.4,0-9.8-.1-18.2-.1-20.1-.3-3.3-.9-4.3-3.3-5.2a30.63,30.63,0,0,0-5.7-1C330.3,199.9,330.3,198,330.8,197.9Z"/>
    <path class="cls-2" d="M389.1,197.9c2.4,0,9.2.4,13.4.4h18c12.6,0,18.2,6.7,18.2,15.2,0,8.2-6.5,13.5-12.9,15.9-.1.1,0,.6.1.7,3.4,5.7,12.8,19.4,18,24.3,3.7,3.9,5.6,4,10.1,4.6.1,0,0,2.2-.3,2.2-4.3.4-13.8,0-16.8-1.4a11.94,11.94,0,0,1-4.9-3.7c-4-4.5-11.1-16.1-14.9-21.8a4.14,4.14,0,0,0-3.3-2c-1.3-.1-3.3-.1-4.7-.1-.3,0-.4.6-.4.7,0,5.7.1,15.4.4,19.2.3,4.3,1.1,5,3.2,5.7a35.73,35.73,0,0,0,5.7,1c.4.3.1,2-.1,2.3-2.2,0-8.2-.4-15.1-.4-7.5,0-12.2.4-14.2.4-.3-.1-.3-2.2,0-2.3,2.2-.3,5.2-.6,6.2-.9,2.4-.6,3.4-1.9,3.7-5.7.1-2.7.1-15.9.1-21.4,0-8.3.1-22.1-.1-25.6-.1-2.7-1.3-3.4-3.2-4a40.2,40.2,0,0,0-6.2-1C388.5,199.9,388.6,198,389.1,197.9Zm19.6,5.2c-.1,3.2-.3,16.7-.3,25,0,.6.1.9.7.9a73.7,73.7,0,0,0,11.4-.4c3.7-1,7.5-4,7.5-12.4,0-9.3-4.7-14.8-15.2-14.8a11.94,11.94,0,0,0-3.3.4C409,201.9,408.7,202.6,408.7,203.1Z"/>
    <path class="cls-2" d="M451.7,197.8c1.9,0,8.8.4,13.4.4,2.3,0,5.7,0,6.7-.1.3.9,1,2.2,3.6,5.5,10.8,13.6,31.3,38.2,35.9,43.5.1.1.3-.1.4-.3,0-13.4-.3-33.5-.7-40.1-.1-3-1.3-5.2-4.3-5.7a26.47,26.47,0,0,0-5.3-.9,8.84,8.84,0,0,1,0-2.3c2.6,0,6.8.4,12.2.4,3.3,0,9.6-.4,10.8-.4a8.1,8.1,0,0,1,0,2.2,39.93,39.93,0,0,0-5,1c-2.6.7-3,2.7-3.2,5.2-.6,7.8-.7,28.7-.7,41.5,0,4.6.1,10.5.3,13.6-2.2-.1-5.6,0-7.6.1-4.5-6.5-36.2-46.1-40.9-51.9-.1-.1-.3-.1-.3,0-.1,10.3,0,36.1.1,41.8.3,4.7,1.6,5.5,3.7,6.5a23.76,23.76,0,0,0,6.5,1.1c.4.1.3,2,0,2.3-2,0-8.2-.4-13.4-.4-5,0-9.3.4-11.5.4-.4-.3-.4-2.2,0-2.3a28.81,28.81,0,0,0,6.3-1.1c2.4-.9,2.9-3,3.2-6.2.4-4.6.9-22.3.9-44.2a5.59,5.59,0,0,0-2.2-4.7c-1.9-1.6-3.7-2.2-9-2.6A3.6,3.6,0,0,1,451.7,197.8Z"/>
    <path class="cls-2" d="M438,97.9s29.5,49.1,74.3,66.6C512.2,164.5,450.1,176.8,438,97.9Z"/>
    <path class="cls-2" d="M178.3,147.8s65.6-14.8,131.2-94C309.5,53.8,258.4,171.7,178.3,147.8Z"/>
    <path class="cls-2" d="M429.7,87.7s4.2,18-21.6,33c0,0-30.2-67.6-72.9-73.6,0,0,33.8,0,68.4,39.7C415.4,100.3,422.5,96.7,429.7,87.7Z"/>
    <path class="cls-3" d="M167.2,150.3s28.9,9.7,54.6,4c51.3-11.4,72.7-29.7,105.9-35.4s41-3.3,80.5,1.7c0,0-8.6-1.5-30.2,2.2-58,10-88.7,37.6-138.2,41.2S167.2,150.3,167.2,150.3Z"/>
    <path class="cls-3" d="M178.3,160.8s55,16.7,84.9,10c59.6-13.2,84.4-34.5,123-41.1s53.7-3.1,99.6,2.7c0,0-16.1-2.5-41.1,1.8-67.5,11.7-103.2,43.8-160.7,48S178.3,160.8,178.3,160.8Z"/>
    <path class="cls-2" d="M61.4,277c1.9,0,4,.2,6.6.2,3.1,0,4.6-.1,5.8-.2.2.1.2,1,0,1.2-1.2.3-1.7.4-2.3.6-.8.3-1,.9-.7,2,1.1,4.7,4.1,15,5.8,20.8h.2c2-5.5,6.6-18.7,7.8-23.1h2.3c1.1,4.2,6.5,19.2,8.1,23.4h.2c1.3-4.1,4.8-15.7,5.7-19.8.4-1.7.5-2.9-1-3.3a13.09,13.09,0,0,0-2.9-.6,1.28,1.28,0,0,1,0-1.2c1.1,0,3.7.2,5.7.2,3.1,0,4.5-.1,5.6-.2a1.27,1.27,0,0,1,0,1.2,12,12,0,0,0-2.3.6c-1.2.5-1.8,1.2-2.5,3.2-2.1,6-6.8,21.1-8.5,26.8H92.7c-1.2-4.4-6-18-8.1-23.7l-.2.1c-2,5.9-6.6,18.7-8.1,23.5a9.63,9.63,0,0,0-2.4,0c-1.5-6.2-5.8-21.7-7.4-26.6-.8-2.4-1.3-3.1-2.7-3.5a8.5,8.5,0,0,0-2.5-.5C61.1,278,61.1,277.1,61.4,277Z"/>
    <path class="cls-2" d="M121.8,302.8c2.8-6.6,7.5-19.7,8.7-23a12.09,12.09,0,0,0,.8-2.8c.2,0,.8.1,1.6.1s1.4-.1,1.6-.1c.2.7.4,1.5.7,2.5,1.1,3,6.7,19.7,8.3,23.8,1.5,3.4,1.7,3.6,5.3,4,.2.2,0,1-.1,1.2-1.3,0-4-.2-6-.2-2.2,0-5.2.1-6.4.2-.1-.2-.2-1,0-1.2a14.34,14.34,0,0,0,2.6-.6.87.87,0,0,0,.6-1.3c-.6-2.1-2.3-6.8-3.2-9.3a4,4,0,0,0-.4-.3c-.7-.1-2.1-.1-4.6-.1a27.57,27.57,0,0,0-4.2.1c-.2,0-.4.3-.5.4-1,2.7-2.8,7.4-2.9,8.7-.1.9-.1,1.5,1.5,1.9a10.75,10.75,0,0,0,2.3.4,1.67,1.67,0,0,1-.1,1.2c-1.1,0-3.6-.2-6.2-.2s-4.2.2-5.2.2a1.28,1.28,0,0,1,0-1.2C119.6,307,120.2,306.6,121.8,302.8Zm9.6-20.6c-.9,2.4-3.1,8.7-3.9,11.2,0,.2,0,.3.2.4a35.86,35.86,0,0,0,4.1.1,30.29,30.29,0,0,0,3.4-.1.7.7,0,0,0,.2-.4c-1.1-3.3-3-9-3.8-11.2C131.6,282.2,131.4,282.1,131.4,282.2Z"/>
    <path class="cls-2" d="M169.1,306.4a8.66,8.66,0,0,0,5,1.3,5.18,5.18,0,0,0,5.5-5.5c0-3.4-2.1-5.1-6.6-7.8-4.3-2.6-7.4-5.2-7.4-9.6,0-5.4,4.4-8.6,9.8-8.6a55.48,55.48,0,0,1,7.5.8,50.9,50.9,0,0,0-.9,6.9c-.2.2-1.1.2-1.2,0-.3-3.2-.8-4.6-2-5.4a7.21,7.21,0,0,0-4-1,5.17,5.17,0,0,0-5.4,5.3c0,2.8,1.3,4.4,3.4,5.9s4.3,2.5,6,3.6c2.6,1.7,4.9,3.8,4.9,7.6,0,5-4.1,9.3-11.1,9.3a17.54,17.54,0,0,1-7.1-1.5c-.5-.7-1.2-5.8-1.3-7.4a1.68,1.68,0,0,1,1.3-.4C166.4,303.3,167.4,305.3,169.1,306.4Z"/>
    <path class="cls-2" d="M201.5,277c1.4,0,3.9.2,6.4.2,3.2,0,4.6-.1,6-.2a1.29,1.29,0,0,1-.1,1.2c-.8.1-1.7.3-2.3.4-1,.3-1.4.7-1.4,2.3-.1,2,0,5.1,0,9.9a.55.55,0,0,0,.3.5c.3.1,1.1.1,8.7.1,5.1,0,7.4,0,7.9-.1a.32.32,0,0,0,.3-.3c0-2.7,0-8.8-.1-10.7a1.67,1.67,0,0,0-1-1.7,10.8,10.8,0,0,0-2.8-.5c-.3-.2-.2-1,0-1.2,1.1,0,3.5.2,6.2.2,2.5,0,5.2-.2,6-.2a1.28,1.28,0,0,1,0,1.2,24.22,24.22,0,0,0-2.4.5c-1.1.4-1.4.8-1.5,2.8-.1,1.8-.2,5.2-.2,11.4,0,4.3.1,10,.2,11.7.1,1.5.4,2,1.4,2.3a11.88,11.88,0,0,0,3.1.6c.1.2.1,1-.2,1.2-1.7,0-3.9-.2-6.4-.2s-5.1.1-6.3.2a1.27,1.27,0,0,1,0-1.2,10.81,10.81,0,0,0,2.7-.5c1-.3,1.3-.8,1.4-2.5.1-1.5.1-7.3.1-10.6,0-.2-.1-.4-.3-.4H210.5a1.44,1.44,0,0,0-.2.3v10c.2,1.7.2,2.6,1.5,3a17.36,17.36,0,0,0,2.9.6c.2.2,0,1.1-.2,1.2-1.2,0-3.4-.2-6.3-.2-2.7,0-5.5.1-6.6.2a1.28,1.28,0,0,1,0-1.2,24.29,24.29,0,0,0,2.6-.5c1.5-.4,1.6-1.4,1.7-3.8V292.3c0-4.9,0-10.6-.1-11.5-.1-1.5-.5-2-1.4-2.2a15.54,15.54,0,0,0-2.9-.5C201.3,278,201.4,277.2,201.5,277Z"/>
    <path class="cls-2" d="M255.3,277c1.1,0,3.8.2,6.4.2s4.7-.2,5.9-.2a1.28,1.28,0,0,1,0,1.2c-1,.1-1.8.3-2.4.4-1.1.4-1.3,1-1.4,2.7-.1,2-.1,6.7-.1,11.1,0,5.2,0,10.1.1,11.9,0,1.5.3,2.3,1.6,2.8.7.2,1.7.3,2.8.5.2.2,0,1-.1,1.2-1.3,0-3.6-.2-6.1-.2-3,0-4.8.2-6.8.2a1.28,1.28,0,0,1,0-1.2,13.27,13.27,0,0,0,2.4-.4c1.4-.3,1.6-1,1.7-2.3.1-1.5.2-7.9.2-13.6,0-4.2,0-7.7-.1-10.1-.2-1.2-.2-2.1-1.3-2.4a14.13,14.13,0,0,0-2.9-.5A2.77,2.77,0,0,1,255.3,277Z"/>
    <path class="cls-2" d="M287.9,277c1.2,0,3.7.2,5.9.2a12.89,12.89,0,0,0,2.3-.1,14.14,14.14,0,0,0,1.9,2.8c5.3,6.6,16.1,19.7,18.4,22.6l.2-.1c0-6.8.1-17.3-.2-20.8-.1-1.5-.4-2.3-1.9-2.8a19.78,19.78,0,0,0-3.3-.6c-.2-.2-.1-1,0-1.2,1.3,0,3.6.2,6.4.2,1.7,0,4.5-.2,5.1-.2a1.28,1.28,0,0,1,0,1.2c-.9.2-1.5.3-2.1.5-1.4.4-1.7,1.4-1.7,2.8-.3,4-.3,12.2-.4,20.4,0,2.3.1,5.3.1,6.9h-3.3c-2.6-3.8-17.3-22.1-20-25.5a.14.14,0,0,0-.2,0c0,5.2,0,17.7.1,20.5.2,2.2.8,2.9,2,3.2.8.2,1.8.3,2.9.5.2.2.1,1,0,1.2-1.2,0-3.4-.2-6.1-.2s-4.6.2-5.7.2c-.2-.2-.2-1.1,0-1.2a7.19,7.19,0,0,0,2.4-.5c1.2-.3,1.9-.9,2-3.2.2-2.5.4-11.3.5-21.9a3,3,0,0,0-1.3-2.5c-1-.8-2.1-1-4-1.2A1.27,1.27,0,0,1,287.9,277Z"/>
    <path class="cls-2" d="M367.7,307.5c-1.6.4-6.5,1.9-10.9,1.9-11.7,0-18-5.8-18-16.8,0-6.6,3.4-11.9,8.9-14.4a22.71,22.71,0,0,1,9.9-1.9c4,0,6.9.9,9.7,1.1a44.6,44.6,0,0,0-.8,7.8,1.44,1.44,0,0,1-1.4.2c-.4-3.8-1-5.2-2.5-6-1.6-1-3.8-1.5-6.9-1.5-8,0-11.9,5.6-11.9,14.3,0,8.9,4.7,15.7,13.8,15.7a8.16,8.16,0,0,0,3.5-.6,2.56,2.56,0,0,0,1.3-2.2,50,50,0,0,0,.1-5.5c-.1-1.8-.5-2.4-2-2.7a18.25,18.25,0,0,0-3-.4c-.2-.2-.2-1.1,0-1.2,1.7,0,4.1.2,6.9.2a51.4,51.4,0,0,0,5.2-.2c.2.2.2,1.1-.1,1.2a5.29,5.29,0,0,0-1.6.4c-1,.3-1.2,1-1.3,2.7s-.1,4.6,0,5.7c.1.8.2,1,1.2,1.4C367.9,306.7,367.8,307.3,367.7,307.5Z"/>
    <path class="cls-2" d="M408.2,308.6c-1.5,0-4.4-.2-7-.2-3.5,0-6.1.2-7.5.2a1.27,1.27,0,0,1,0-1.2c1.5-.2,2.8-.3,3.5-.5,1.5-.3,1.8-1.3,1.9-3.7.1-3.2.1-15.6.1-23.9a.45.45,0,0,0-.3-.4c-.9-.1-5.3-.1-6.8,0a2.37,2.37,0,0,0-2.1,1.3,30.65,30.65,0,0,0-1.9,4.6c-.2.1-1.2-.1-1.2-.3a74.31,74.31,0,0,0,.9-8.1s.4-.3.5-.2a9,9,0,0,0,4,.7H411a10.84,10.84,0,0,0,4.7-.7c.2,0,.4.1.4.2a49.49,49.49,0,0,0-1.1,8.2c-.1.2-1.2.2-1.3,0a22.05,22.05,0,0,0-.8-4.3,1.93,1.93,0,0,0-2-1.4c-2.1-.2-6.2-.1-7.3-.1a.54.54,0,0,0-.3.4c0,7.4,0,21.7.2,24.4.1,2.3.6,2.8,1.7,3.1a26,26,0,0,0,3,.5A1.37,1.37,0,0,1,408.2,308.6Z"/>
    <path class="cls-2" d="M435.9,304.7a17.58,17.58,0,0,1-4.4-12.1,16,16,0,0,1,3.1-9.7c2.8-4,8.3-6.6,13.6-6.6,10.3,0,15.5,7.6,15.5,15.9a17,17,0,0,1-3.1,10.5,16.21,16.21,0,0,1-13.3,6.7A15.55,15.55,0,0,1,435.9,304.7Zm18.9.9c3.2-2.7,4.3-6.9,4.3-11.7,0-5.4-1.8-10.8-5.8-13.7a11.14,11.14,0,0,0-6.7-2.1,9.91,9.91,0,0,0-4.7,1.2c-3.7,2.2-5.4,6.9-5.4,12.1s1.9,11.2,6.4,14.2a11.3,11.3,0,0,0,6.5,1.8A9,9,0,0,0,454.8,305.6Z"/>
    <path class="cls-2" d="M480.5,277c1.2,0,3.7.2,5.9.2a12.89,12.89,0,0,0,2.3-.1,14.14,14.14,0,0,0,1.9,2.8c5.3,6.6,16.1,19.7,18.4,22.6l.2-.1c0-6.8.1-17.3-.2-20.8-.1-1.5-.4-2.3-1.9-2.8a19.78,19.78,0,0,0-3.3-.6c-.2-.2-.1-1,0-1.2,1.3,0,3.6.2,6.4.2,1.7,0,4.5-.2,5.1-.2a1.28,1.28,0,0,1,0,1.2c-.9.2-1.5.3-2.1.5-1.4.4-1.7,1.4-1.7,2.8-.3,4-.3,12.2-.4,20.4,0,2.3.1,5.3.1,6.9h-3.3c-2.6-3.8-17.3-22.1-20-25.5a.14.14,0,0,0-.2,0c0,5.2,0,17.7.1,20.5.2,2.2.8,2.9,2,3.2.8.2,1.8.3,2.9.5.2.2.1,1,0,1.2-1.2,0-3.4-.2-6.1-.2s-4.6.2-5.7.2c-.2-.2-.2-1.1,0-1.2a7.19,7.19,0,0,0,2.4-.5c1.2-.3,1.9-.9,2-3.2.2-2.5.4-11.3.5-21.9a3,3,0,0,0-1.3-2.5c-1-.8-2.1-1-4-1.2A1.27,1.27,0,0,1,480.5,277Z"/>
    <path class="cls-2" d="M64.6,323c.9,0,4.1.1,6.8.1s5-.2,6.4-.2a1.48,1.48,0,0,1,0,1.3c-1.1.2-1.8.3-2.5.5-1.2.3-1.5.9-1.6,3-.1,5-.1,13.5.1,16.4.2,3.1.6,5.1,1.4,6.5,1.4,3,4.7,5,9.3,5,4.8,0,9.2-1.7,9.7-10.3.2-4.2.4-11,.1-16.6-.1-3-.8-3.6-2.5-4a15.89,15.89,0,0,0-2.6-.4,1.26,1.26,0,0,1,.1-1.2c1,0,3.2.1,6.3.1,2.5,0,4.6-.1,5.6-.1.2.1.2,1.1,0,1.2-.8.2-1.6.3-2.2.5-1.5.4-1.8,1.3-2,4.2-.3,11.5-.2,15.3-.9,19.1-1.4,7.9-7.2,10.3-13.3,10.3-8.5,0-12.5-3.9-13.3-10.1-.4-3.5-.3-17-.4-20.6-.1-1.5-.3-2.5-1.5-2.8a17.77,17.77,0,0,0-2.8-.5C64.4,324.1,64.4,323.1,64.6,323Z"/>
    <path class="cls-2" d="M118.7,323c1.3,0,4,.2,6.4.2a17.1,17.1,0,0,0,2.6-.1,12.15,12.15,0,0,0,2.1,3c5.7,7.2,17.6,21.6,20.1,24.7l.2-.1c0-7.5.1-18.9-.2-22.8-.1-1.7-.4-2.6-2.1-3a24.35,24.35,0,0,0-3.6-.6,1.5,1.5,0,0,1,.1-1.3c1.5,0,3.9.2,7,.2,1.8,0,4.9-.2,5.6-.2a1.48,1.48,0,0,1,0,1.3c-.9.2-1.6.3-2.3.5-1.5.4-1.8,1.5-1.9,3-.3,4.4-.3,13.3-.4,22.3,0,2.6.1,5.7.1,7.5a21.63,21.63,0,0,0-3.6,0c-2.8-4.1-19-24.2-21.9-27.9-.1-.1-.2,0-.2.1-.1,5.7-.1,19.4.1,22.4.2,2.5.9,3.1,2.2,3.5.8.2,2,.3,3.2.5a1.5,1.5,0,0,1-.1,1.3c-1.3,0-3.7-.2-6.7-.2s-5,.2-6.2.2c-.2-.2-.2-1.2,0-1.3a9.29,9.29,0,0,0,2.7-.5c1.3-.3,2.1-1,2.2-3.5.2-2.7.4-12.4.5-23.9a3.07,3.07,0,0,0-1.4-2.7c-1.1-.9-2.3-1.1-4.4-1.3C118.5,324.1,118.5,323.1,118.7,323Z"/>
    <path class="cls-2" d="M175.8,323c1.2,0,4.2.2,7,.2,3,0,5.2-.2,6.5-.2a2,2,0,0,1,.1,1.3c-1.1.1-2,.3-2.6.4-1.2.4-1.5,1.1-1.6,2.9-.1,2.2-.1,7.3-.1,12.2,0,5.7,0,11,.1,13,.1,1.6.3,2.6,1.8,3,.8.2,1.9.3,3.1.5a1.5,1.5,0,0,1-.1,1.3c-1.4,0-4-.2-6.6-.2-3.2,0-5.2.2-7.5.2a1.48,1.48,0,0,1,0-1.3,14.31,14.31,0,0,0,2.6-.4c1.5-.3,1.7-1.1,1.9-2.5.1-1.6.2-8.6.2-14.8,0-4.6,0-8.4-.1-11-.2-1.3-.2-2.3-1.5-2.6a23.21,23.21,0,0,0-3.2-.6A2.21,2.21,0,0,1,175.8,323Z"/>
    <path class="cls-2" d="M206.7,323c1.3,0,4.2.2,6.6.2,3.3,0,5.8-.1,6.8-.2a1.48,1.48,0,0,1,0,1.3,16.25,16.25,0,0,0-2.7.6c-.8.2-1,.8-.7,1.6,1.7,4.8,8.3,22.3,9.3,24.6.1-.1.2,0,.2-.1,1.1-2.5,7.4-18.4,9-23,.6-2,.4-2.8-1.2-3.2-.9-.2-1.7-.3-3-.5-.1-.2,0-1.2.2-1.3,1.1,0,3.2.2,6.2.2,2.8,0,4.5-.2,5.6-.2.2.2.1,1.1,0,1.3a14.43,14.43,0,0,0-2.4.5c-1.6.5-2.2,1.6-3.6,4.9-1.7,3.9-5.7,13.9-8.5,20.8-1.2,3.1-2.1,5.6-2.6,7.3a7.57,7.57,0,0,0-3,0c-.6-2.2-1.4-4.7-2.5-7.6-2.8-7.5-6.4-17.1-8.1-21.3-1.2-2.9-1.8-3.8-3.4-4.2a14.55,14.55,0,0,0-2.5-.4A1.81,1.81,0,0,1,206.7,323Z"/>
    <path class="cls-2" d="M258.7,323c1.3,0,3.9.2,6.9.2h10.8c2.1,0,5-.1,6.1-.2.1,0,.2.2.2.2a53.17,53.17,0,0,0-.9,7.5,2.25,2.25,0,0,1-1.4.1,26.7,26.7,0,0,0-.6-3.5c-.4-1.3-.9-2-2.8-2.1-1.2-.1-7.6-.1-8.4,0-.4.1-.6.7-.6.9-.1,2.8-.1,10.4-.1,12.3,0,.2.1.4.3.4a80,80,0,0,0,8.5-.1c1.5-.1,1.8-.8,2.2-1.8q.3-.9.6-2.1a1.65,1.65,0,0,1,1.4.1,32.92,32.92,0,0,0-.4,5.1c0,2.1.1,3.7.1,4.9-.2.2-1.3.3-1.5,0a15.82,15.82,0,0,0-.4-2.1,2.09,2.09,0,0,0-2.1-1.7,79.36,79.36,0,0,0-8.5-.1c-.1,0-.3.3-.3.4,0,2.1,0,8.7.1,11.7a2.26,2.26,0,0,0,1.3,2.1,69,69,0,0,0,7.6.3c2.9-.1,3.6-.6,4.5-1.7a21.86,21.86,0,0,0,3-5,1.85,1.85,0,0,1,1.2.5,42.57,42.57,0,0,1-2.3,7.4c-.3.6-.6.8-3.3.8-4,0-7.4-.2-14.1-.2-3.6,0-6,.2-8.3.2a1.48,1.48,0,0,1,0-1.3,27,27,0,0,0,3.9-.6c1.3-.3,1.7-.9,1.8-3.1.1-1.2.1-7.4.1-13.7,0-5.2,0-10.3-.1-11.3-.1-2.1-.3-2.6-1.7-2.9-.7-.2-1.6-.3-2.8-.5C258.5,324,258.5,323.1,258.7,323Z"/>
    <path class="cls-2" d="M305.2,323c1.3,0,4.5.2,6.1.2,3.8,0,6.6-.1,9-.1,6.5,0,9.8,3.7,9.8,8.5s-3.1,7.4-6.4,8.9a.49.49,0,0,0-.1.3c1.9,3.1,6.5,9.8,9.2,12.5,2.4,2.4,3.2,2.7,6.1,3,.1.1,0,1.2-.2,1.3-2.3.1-6.7-.1-8.6-1a8.21,8.21,0,0,1-2.6-2.2c-2.1-2.4-5.7-8.4-7.8-11.4a1.74,1.74,0,0,0-1.3-.9c-.8-.1-3,0-3.7,0-.1,0-.2.2-.2.3,0,3.1,0,8.4.1,10.4s.5,2.6,1.7,2.8c.8.2,1.8.3,3,.5a1.5,1.5,0,0,1-.1,1.3c-1,0-3.8-.2-7-.2-3.7,0-5.9.2-6.9.2a1.48,1.48,0,0,1,0-1.3c1.2-.2,2.1-.3,2.7-.4,1.3-.3,1.7-1,1.8-3.1.1-1.5.2-9.3.2-12.3,0-4.8,0-11.2-.1-13.2-.1-1.5-.4-2.2-1.8-2.6a20.93,20.93,0,0,0-2.8-.4C305,324,305,323.1,305.2,323Zm9.6,1.9a1.91,1.91,0,0,0-.3.8c-.1,1.7-.1,9.3-.1,14.1a.37.37,0,0,0,.2.3c3,.2,5.8.1,7-.4,1.8-.7,3.7-2.6,3.7-6.7,0-5.2-2.7-8.3-8.6-8.3A6.48,6.48,0,0,0,314.8,324.9Z"/>
    <path class="cls-2" d="M359.9,355.1a9.19,9.19,0,0,0,5.5,1.5c3.1,0,6-1.8,6-6,0-3.7-2.3-5.6-7.2-8.5-4.7-2.8-8.1-5.6-8.1-10.5,0-5.9,4.8-9.4,10.8-9.4,3.7,0,5.9.7,8.2.9a61.79,61.79,0,0,0-.9,7.5,2,2,0,0,1-1.3.1c-.3-3.5-.8-5-2.2-5.9a7.79,7.79,0,0,0-4.4-1.1,5.58,5.58,0,0,0-5.9,5.8c-.1,3.1,1.5,4.8,3.7,6.4s4.7,2.7,6.6,3.9c2.8,1.8,5.4,4.2,5.4,8.3,0,5.5-4.5,10.2-12.1,10.2a18.41,18.41,0,0,1-7.8-1.7c-.5-.8-1.3-6.3-1.5-8.1a1.9,1.9,0,0,1,1.4-.4C356.8,351.7,358,353.9,359.9,355.1Z"/>
    <path class="cls-2" d="M397.1,323c1.2,0,4.2.2,7,.2,3,0,5.2-.2,6.5-.2a2,2,0,0,1,.1,1.3c-1.1.1-2,.3-2.6.4-1.2.4-1.5,1.1-1.6,2.9-.1,2.2-.1,7.3-.1,12.2,0,5.7,0,11,.1,13,.1,1.6.3,2.6,1.8,3,.8.2,1.9.3,3.1.5a1.5,1.5,0,0,1-.1,1.3c-1.4,0-4-.2-6.6-.2-3.2,0-5.2.2-7.5.2a1.48,1.48,0,0,1,0-1.3,14.31,14.31,0,0,0,2.6-.4c1.5-.3,1.7-1.1,1.9-2.5.1-1.6.2-8.6.2-14.8,0-4.6,0-8.4-.1-11-.2-1.3-.2-2.3-1.5-2.6a23.21,23.21,0,0,0-3.2-.6A1.39,1.39,0,0,1,397.1,323Z"/>
    <path class="cls-2" d="M454.7,357.5c-1.7,0-4.9-.2-7.7-.2-3.8,0-6.7.2-8.2.2a1.48,1.48,0,0,1,0-1.3c1.7-.2,3-.3,3.8-.5,1.7-.3,2-1.5,2.1-4,.1-3.5.1-17.1.1-26.2a.45.45,0,0,0-.3-.4,62.58,62.58,0,0,0-7.4.1,2.5,2.5,0,0,0-2.3,1.5,23.11,23.11,0,0,0-2.1,5.1c-.2.1-1.3-.1-1.3-.3.4-2.3.9-6.6,1-8.9,0-.1.4-.3.5-.2a10.81,10.81,0,0,0,4.4.8h20.6a13.37,13.37,0,0,0,5.2-.7c.2,0,.4.1.4.2a48,48,0,0,0-1.2,8.9c-.1.2-1.3.2-1.5,0a25.3,25.3,0,0,0-.8-4.7,2.14,2.14,0,0,0-2.2-1.6c-2.3-.2-6.7-.1-8-.1a.54.54,0,0,0-.3.4c0,8.1.1,23.8.2,26.7.1,2.5.7,3,1.9,3.4a30,30,0,0,0,3.3.5C455,356.4,454.9,357.4,454.7,357.5Z"/>
    <path class="cls-2" d="M482.3,323c1.5,0,4.2.2,6.9.2,2,0,5.2-.1,5.9-.2a1.5,1.5,0,0,1,.1,1.3c-.6.1-1.5.3-2,.4-.8.2-.9.7-.4,1.7,1.5,3.1,6,11.8,7.1,13.8a.49.49,0,0,0,.3-.1c1.9-3.2,5.8-10.2,7-13.1.5-1.2.4-2-1.2-2.3a13.06,13.06,0,0,0-2.5-.4,1.47,1.47,0,0,1,.1-1.3c1.6.1,4,.2,5.9.2,2.5,0,3.8-.1,5.7-.2.2.1.2,1.1.1,1.3l-2.3.4c-1.7.4-2.5,1.5-3.8,3.5-2.3,3.8-6.6,11.4-7.8,13.7a6.46,6.46,0,0,0-.4,1.9l.1,8.3c.1,2.3.3,3.4,2,3.7a16.79,16.79,0,0,0,3,.4c.1.2.1,1.1-.1,1.2-1.3,0-4.5-.2-7.4-.2-3.6,0-5.9.2-7.5.2-.2-.1-.2-1.1,0-1.2a26.64,26.64,0,0,0,3.5-.5c1.6-.3,1.8-1.5,1.8-3.2l.1-7.6a11.72,11.72,0,0,0-.4-2.7c-1.2-2.7-4.5-9-6.7-12.9s-2.8-4.4-4.6-4.8a13.06,13.06,0,0,0-2.5-.4C482,324,482.1,323.2,482.3,323Z"/>

  </svg>

</div>
