<nav class="main-navigation" aria-label="Main">
  <button class="toggle-animation">
    <div class="material-icons toggle-animation-icon" aria-hidden="true">motion_photos_on</div>
    <div class="toggle-animation-text">Animation On</div>
  </button>
  <button class="toggle-menu" aria-expanded="false" aria-controls="mobile-menu">
    <div class="hamburger">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
    <div class="toggle-text">Table of Contents</div>
  </button>
  <div class="menu-bg closed" aria-hidden="true">
    <div class="logo-wrapper">
      {%- include logo.html -%}
    </div>
    <ul class="main-menu">
      {% for node in site.html_pages %}
        {% if node.navigation != false %}
          {% if node.url == page.url %}
            <li class="current"><span class="material-icons" aria-hidden="true">keyboard_arrow_right</span> {{ node.title }} <span class="visually-hidden">(current page)</span></li>
          {% else %}
            <li><a class="menu-link" tabindex="-1" href="{{ site.baseurl }}{{ node.permalink }}.html">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
