.wwu-footer {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: var(--space--xs);
  background-color: var(--dark-blue);
  font-size: var(--font-size--sm);

  @media (min-width: $small) {
    flex-flow: row wrap;
    padding: var(--space--xs) calc((100vw - var(--content-area-max-width)) / 2);
  }

  .logo {
    flex: 0 0 25%;

    @media (min-width: $small) {
      margin: 0;
    }

    svg {
      max-width: 240px;
    }
  }


  .tribal-lands-statement {
    flex: 0 0 50%;
    text-align: center;
    line-height: 1.5;
    p {
      margin: 0;
      line-height: 1.5;
    }
  }

  .western-info {
    flex: 0 0 25%;
    text-align: right;

    p {
      margin: 0;
    }
  }

  .copyright {
    flex: 0 0 100%;
    p {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
}
