.visually-hidden {
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); // IE support mainly, clip path is preferred
  width: 1px;
  height: 1px;
  white-space: nowrap;
  word-wrap: normal;
}

.skip-link {
  &:focus {
    clip-path: initial;

    position: absolute !important;
    z-index: 6;
    top: 0;
    left: var(--space--sm);
    clip: initial; // IE support
    width: inherit;
    height: inherit;
    padding: var(--space--sm);
    outline-color: var(--dark-blue--darker--60);
    outline-offset: calc(-1 * var(--border-width--lg));
  }
}

.material-icons {
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  font-family: "Material Icons";
  font-size: var(--icon-size--xs);
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}
