:root {
  --hexagon-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  --hexagon-height--md: calc(var(--hexagon-width--md) * 1.1547);
  --hexagon-height--sm: calc(var(--hexagon-width--sm) * 1.1547);
  --hexagon-margin: var(--space--sm);
  --hexagon-width--md: 14rem;
  --hexagon-width--sm: 12rem;
}

.hexagon {
  position: relative;
  width: var(--hexagon-width--sm);
  height: var(--hexagon-height--sm);

  @media (min-width: $medium) {
    width: var(--hexagon-width--md);
    height: var(--hexagon-height--md);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  p {
    margin: var(--space--sm);
    line-height: 1.05;

    @media (min-width: $medium) {
      margin: var(--space--lg);
    }
  }

  .hexagon-content {
    clip-path: var(--hexagon-clip-path);

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--blue);
    font-size: var(--font-size--sm);
  }

  &.decorate-before:before,
  &.decorate-after:after {
    clip-path: var(--hexagon-clip-path);

    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
  }

  &.decorate-before:before {
    top: calc((var(--hexagon-height--sm) * 0.75) + var(--hexagon-margin));
    left: calc((var(--hexagon-width--sm) * -0.50) - (var(--hexagon-margin)));

    @media (min-width: $small) {
      top: 0;
      left: calc(-100% - var(--hexagon-margin));
    }
  }

  &.decorate-after:after {
    top: calc((var(--hexagon-height--sm) * -0.75) - var(--hexagon-margin));
    right: calc((var(--hexagon-width--sm) * -0.50) - (var(--hexagon-margin)));

    @media (min-width: $small) {
      top: 0;
      right: calc(-100% - var(--hexagon-margin));
    }
  }
}

.hexagon-pair {
  position: relative;
  top: calc((var(--hexagon-height--sm) * -0.25) + var(--hexagon-margin));
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: calc((var(--hexagon-height--sm) * -0.25) + var(--hexagon-margin));

  @media(min-width: $small) {
    flex-flow: row nowrap;
    margin-bottom: calc((var(--hexagon-height--sm) * -0.25) + var(--hexagon-margin));
  }

  @media(min-width: $medium) {
    top: calc((var(--hexagon-height--md) * -0.25) + var(--hexagon-margin));
    margin-bottom: calc((var(--hexagon-height--md) * -0.25) + var(--hexagon-margin));
  }

  &:first-of-type {
    top: 0;
    margin-bottom: 0;
  }

  & + .hexagon-pair:nth-of-type(even) {
    left: calc(var(--hexagon-margin) * -0.5);

    @media (min-width: $small) {
      left: calc((var(--hexagon-width--sm) * -0.5) + (var(--hexagon-margin) * -0.5));
    }

    @media (min-width: $medium) {
      left: calc((var(--hexagon-width--md) * -0.5) + (var(--hexagon-margin) * -0.5));
    }
  }

  .hexagon {
    &:first-of-type {
      margin-right: calc((var(--hexagon-width--sm) / 2) + var(--hexagon-margin));
      margin-bottom: calc((var(--hexagon-height--sm) * -0.25) +  var(--hexagon-margin));
      margin-left: 0;

      @media(min-width:$small) {
        margin-right: calc(var(--hexagon-margin) / 2);
        margin-bottom: 0;
        margin-left: calc(var(--hexagon-margin) / 2);
      }
    }

    &:last-of-type {
      margin-right: 0;
      margin-left: calc((var(--hexagon-width--sm) / 2) + var(--hexagon-margin));

      @media(min-width:$small) {
        margin-right: calc(var(--hexagon-margin) / 2);
        margin-left: calc(var(--hexagon-margin) / 2);
      }
    }
  }
}

.hexagon-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: var(--space--xl) auto;

  @media (min-width: $small) {
    margin: var(--space--3xl) auto;
  }

  .hexagon {
    margin-bottom: calc(-2 * var(--space--lg));

    @media (min-width: $small) {
      margin: 0 var(--space--xs);
    }

    &:after,
    &:before {
      position: absolute;
      z-index: -1;
      display: block;
      content: "";
    }

    &:nth-of-type(odd) {
      margin-right: calc((var(--hexagon-width--sm) / 2) + var(--hexagon-margin));

      @media (min-width: $small) {
        margin-right: var(--space--xs);
      }
    }

    &:nth-of-type(even) {
      margin-left: calc((var(--hexagon-width--sm) / 2) + var(--hexagon-margin));

      @media (min-width: $small) {
        margin-left: var(--space--xs);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }


    &:after {
      clip-path: var(--hexagon-clip-path);

      top: calc(var(--space--xl) / -2);
      left: calc(var(--space--xl) / -2);
      width: calc(var(--hexagon-width--sm) + var(--space--xl));
      height: calc(var(--hexagon-height--sm) + var(--space--xl));
      background-color: rgba(var(--dark-blue--darker--40--rgb), 0.3);

      @media (min-width: $medium) {
        width: calc(var(--hexagon-width--md) + var(--space--xl));
        height: calc(var(--hexagon-height--md) + var(--space--xl));
      }
    }

    &:before {
      clip-path: var(--hexagon-clip-path);

      top: calc(var(--space--3xl) / -2);
      left: calc(var(--space--3xl) / -2);
      width: calc(var(--hexagon-width--sm) + var(--space--3xl));
      height: calc(var(--hexagon-height--sm) + var(--space--3xl));
      background-color: rgba(var(--dark-blue--darker--40--rgb), 0.3);;

      @media (min-width: $medium) {
        width: calc(var(--hexagon-width--md) + var(--space--3xl));
        height: calc(var(--hexagon-height--md) + var(--space--3xl));
      }
    }
  }
}


.hexagon-link {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 2rem;
  height: 2px;
  transform: rotate(45deg);
  background: var(--white);


  @media(min-width: $small) {
    transform: none;
  }

  &:before,
  &:after {
    position: absolute;
    top: -3px;
    display: block;
    width: 4px;
    height: 4px;
    content: "";
    border: solid 2px white;
  }

  &:before {
    left: -6px;
  }

  &:after {
    right: -6px;
  }

  .hexagon-link {
    height: 2px;
  }
}
