img {
  display: block;
  max-width: 100%;
}

.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.image-collage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transform: skewy(10deg);
}

.collage-image {
  overflow: hidden;
  width: calc(50% - (var(--space--2xs) / 2));
  margin-bottom: var(--space--2xs);

  @media (min-width: $small) {
    width: calc(33.33333% - (var(--space--xs) / 2));
    margin-bottom: var(--space--xs);
  }

  img {
    position: relative;
    top: -14%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 130%;
    transform: skewy(-10deg);
  }

  &.full-width {
    width: 100%;

    img {
      top: -25%;
      height: 150%;
    }
  }
}
