.main-navigation {
  position: fixed;
  z-index: 5;
  top: 0;
  display: grid;
  overflow: hidden;
  grid-template-areas: "toggle-animation toggle-menu"
  "menu menu";
  grid-template-columns: 7rem auto;
  grid-template-rows: var(--touch-target--min) auto;
  width: 100%;
  font-family: var(--font--condensed);

  @media (min-width: $medium) {
    grid-template-rows: 2.2rem auto;
  }

  .toggle-menu,
  .toggle-animation {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: var(--space--sm);
    color: var(--white);
    border: none;
    background-color: var(--blue);
    font-weight: var(--font-weight--light);

    @media (min-width: $small) {
      justify-content: center;
    }
  }

  .toggle-menu {
    grid-area: toggle-menu;

    @media (min-width: $small) {
      padding-right: 7rem;
    }
  }

  .toggle-animation {
    grid-area: toggle-animation;
    font-size: var(--font-size--sm);

    .material-icons {
      margin-right: var(--space--2xs);
    }
  }
}

.menu-bg {
  grid-area: menu;
  max-height: 0;
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: max-height;
  background-color: rgba(var(--dark-blue--darker--40--rgb), 0.95);


  @media (prefers-reduced-motion) {
    transition-property: opacity;
    opacity: 0;
  }

  &.open {
    overflow: scroll;
    max-height: 100vh;
    padding-bottom: var(--space--lg);

    @media (prefers-reduced-motion) {
      opacity: 1;
    }
  }
}

.main-menu {
  position: relative;
  margin: 0;
  padding: 0 var(--space--xl) var(--space--xl) var(--space--xl);
  column-gap: var(--space--md);

  @media (min-width: $small) {
    column-count: 2;
  }

  @media (min-width: $medium) {
    column-count: 3;
  }

  li {
    list-style: none;
    color: var(--light-green--lighter--40);
    font-weight: var(--font-weight--semibold);

    &.current {
      padding: var(--space--xs);
    }
  }

  a {
    display: block;
    width: 100%;
    padding: var(--space--xs);
    text-decoration: none;
    font-weight: var(--font-weight--regular);
  }

  .material-icons {
    top: 0.2em;
  }
}

.hamburger {
  position: relative;
  width: 1.2rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  cursor: pointer;

  .hamburger-line {
    position: absolute;
    width: 100%;
    height: 0.08rem;
    transition: cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition-duration: 250ms;
    border-radius: 3px;
    background-color: var(--white);
  }

  .hamburger-line:nth-child(1) {
    top: 0;
    left: 0;
    transition-duration: 150ms;
  }

  .hamburger-line:nth-child(2) {
    top: calc(50% - 0.05rem);
    left: 0;
    opacity: 1;
  }

  .hamburger-line:nth-child(3) {
    bottom: 0;
    left: 0;
    transition-duration: 150ms;
  }

  &.open .hamburger-line:nth-child(1) {
    top: 0.4rem;
    height: 0.1rem;
    transition-duration: 150ms;
    transform: rotate(45deg);
  }

  &.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  &.open .hamburger-line:nth-child(3) {
    top: 0.4rem;
    height: 0.1rem;
    transition-duration: 150ms;
    transform: rotate(-45deg);
  }
}

.footer-nav {
  position: fixed;
  z-index: 4;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-content: center;
  width: 100%;
  min-height: var(--touch-target--min);
  background-color: var(--dark-blue--darker--40);

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--space--xs);
    text-align: center;
    text-decoration: none;
  }

  .material-icons {
    top: 0.2em;
  }

  .previous-link {
    grid-column: 1 / span 1;
  }

  .center-info {
    grid-column: 2 / span 1;
    text-align: center;
  }

  .current {
    padding-top: var(--space--2xs);
    font-size: var(--font-size--sm);
  }

  .scroll-down {
    padding-bottom: var(--space--2xs);
  }

  .next-link {
    grid-column: 3 / span 1;
  }
}
