html {
  * {
    box-sizing: border-box;
  }
}

body {
  padding: var(--touch-target--min) 0;
  background-color: var(--gray--darker--80);

  @media (min-width: $medium) {
    padding: 2.2rem 0;
  }
}

section {
  position: relative;
  padding: 0.001rem;
}

button {
  &:focus-visible {
    outline: dotted var(--border-width--md);
    outline-offset: calc(-1 * var(--border-width--md));
  }
}

viewbook-quote,
viewbook-fact,
viewbook-stat {
  display: block;
}
