html {
  color: var(--white);
  font-family: var(--font--sans-serif);
  font-size: calc(1rem + 0.5vw);
  font-weight: var(--font-weight--light);
  font-display: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font--title);
}


h1 {
  margin: var(--space--xs);
  font-size: var(--font-size--6xl);
  font-weight: var(--font-weight--black);

  @media (min-width: $small) {
    margin: var(--space--2xl);
    font-size: var(--font-size--8xl);
  }
}

h2 {
  font-size: var(--font-size--7xl);
  font-weight: var(--font-weight--black);
}

a {
  padding: 0.1563rem 0;
  transition: var(--transition-speed--fast) var(--ease--standard);
  text-decoration: underline var(--border-width--md) var(--blue--lighter--60);
  text-underline-offset: 0.3125rem;
  color: var(--white);
  font-weight: var(--font-weight--semibold);

  &:visited {
    color: var(--blue--lighter--60);
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark-blue--darker--80);
  }

  &:focus-visible {
    outline: dotted var(--border-width--md);
    outline-offset: var(--border-width--md);
  }
}

p {
  max-width: var(--content-area-max-width--sm);
  line-height: 1.7rem;
}

strong {
  font-weight: var(--font-weight--bold);
}

li {
  line-height: 1.5;
}
