/*------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
0. Breakpoints
1. Color
  a. Brand
  b. Special use
  c. RGB values
  d. Gradients
2. Typography
  a. Font families
  b. Font weights
3. Page layout
  a. Spacing
  b. Content areas
  c. Content area grids
4. Decoration
  a. Borders and outlines
  b. Shadows
  c. Icons
  d. Toggles
  e. Logo
  f. Forms
  e. Logo
5. Animation
------------------------------------------------------------------------------*/
/* 0. Breakpoints (CSS variables do not work in media queries) ---------------*/
$small: 36.3125rem;
$medium: 59.4375rem;
$large: 81.25rem;
:root {
/*------------------------------------------------------------------------------
1. Color
------------------------------------------------------------------------------*/
/* a. Brand ------------------------------------------------------------------*/
--black: #262b2f;
--gray--darker--80: #14181b;
--gray--darker--60: #293036;
--gray--darker--40: #3d4950;
--gray--darker--20: #52616b;
--gray: #667986;
--gray--lighter--20: #8394a0;
--gray--lighter--40: #a2afb8;
--gray--lighter--60: #c1cad0; // replaces $light-gray
--gray--lighter--80: #e0e4e7; // replaces $lightest-gray
--gray--lighter--90: #f0f2f3;
--white: #fff;

--dark-blue--darker--80: #000d1b;
--dark-blue--darker--60: #001936;
--dark-blue--darker--40: #002651;
--dark-blue--darker--20: #00326c; // replaces $darkest-blue
--dark-blue: #003f87;
--dark-blue--lighter--20: #0062d2;
--dark-blue--lighter--40: #1e87ff;
--dark-blue--lighter--60: #69afff; // replaces $light-bg-blue
--dark-blue--lighter--80: #b4d7ff; // replaces $lightest-bg-blue

--blue--darker--80: #001828;
--blue--darker--60: #003150;
--blue--darker--40: #004978; // replaces $link-blue--darker
--blue--darker--20: #0062a0; // replaces $link-blue
--blue: #007ac8;
--blue--lighter--20: #079eff;
--blue--lighter--40: #45b6ff; // replaces $light-blue
--blue--lighter--60: #83cfff;
--blue--lighter--80: #c1e7ff;

--dark-green--darker--80: #00150d;
--dark-green--darker--60: #002b19;
--dark-green--darker--40: #004026;
--dark-green--darker--20: #005632;
--dark-green: #006b3f;
--dark-green--lighter--20: #338965;
--dark-green--lighter--40: #66a68c;
--dark-green--lighter--60: #99c4b2;
--dark-green--lighter--80: #cce1d9;

--green--darker--80: #0f1a06;
--green--darker--60: #1e340c;
--green--darker--40: #2c4e12;
--green--darker--20: #3b6818;
--green: #4a821e;
--green--lighter--20: #6e9b4b;
--green--lighter--40: #92b478; // possibly replaces $dark-green
--green--lighter--60: #b7cda5;
--green--lighter--80: #dbe6d2;

--light-green--darker--80: #252b02;
--light-green--darker--60: #4a5604;
--light-green--darker--40: #708206;
--light-green--darker--20: #95ad08;
--light-green: #bad80a;
--light-green--lighter--20: #c8e03b;
--light-green--lighter--40: #d6e86c; //replaces $lightest-green
--light-green--lighter--60: #e3ef9d;
--light-green--lighter--80: #f1f7ce;

/* b. Special use ------------------------------------------------------------*/
--red: #cc2d30;

--yellow: #ffc61e;
--yellow--lighter--40: #ffe38f;

--purple--lighter--80: #ebcfee;
--purple--lighter--60: #d79fdc;
--purple--lighter--40: #c26fcb;
--purple--lighter--20: #ae3fb9;
--purple: #9a0fa8;

/* c. RGB Values (for easy use with rgba/transparency, added only as needed) -*/
--black--rgb: 28, 32, 35;
--blue--rgb: 0, 122, 200;
--dark-blue--darker--40--rgb: 0, 38, 81;
--green--rgb: 93, 162, 37;
--light-green--rgb: 186, 216, 10;
--red--rgb: 204, 45, 48;
--yellow--rgb: 255, 198, 30;
--white--rgb: 255, 255, 255;

/* d. Gradients --------------------------------------------------------------*/
--gradient--vertical--light-blue: linear-gradient(
  to bottom,
  var(--blue--lighter--40) 0,
  var(--blue--lighter--60) 100%
);

--gradient--vertical--dark-blue: linear-gradient(
  to bottom,
  var(--dark-blue--darker--40) 0,
  var(--dark-blue--darker--80) 100%
);

--gradient--vertical--light-green: linear-gradient(
  to bottom,
  var(--light-green--lighter--20) 0,
  var(--light-green) 100%
);

--gradient--vertical--blue-to-dark-blue: linear-gradient(
  to bottom,
  var(--blue),
  rgba(var(--dark-blue--darker--40--rgb), 0.9)
);

--gradient--horizontal--dark-blue-to-transparent: linear-gradient(
  to right,
  rgba(var(--dark-blue--darker--40--rgb), 1) 0%,
  rgba(var(--dark-blue--darker--40--rgb), 0.5) 100%
);

--gradient--diagonal--blue-to-dark-blue: linear-gradient(
  to right bottom,
  #002f5e,
  #003266,
  #00356d,
  #003875,
  #003b7d,
  #004186,
  #01478e,
  #004d97,
  #0058a3,
  #0063b0,
  #006ebc,
  #007ac8
);
--gradient--diagonal--dark-blue-to-black: linear-gradient(
  to left bottom,
  #1c2023,
  #18242d,
  #122738,
  #0a2a44,
  #022d4f,
  #00335c,
  #013a69,
  #044077,
  #074e8b,
  #085c9f,
  #066bb3,
  #007ac8
);

/*------------------------------------------------------------------------------
2. Typography
------------------------------------------------------------------------------*/
/* a. Font families ----------------------------------------------------------*/
--font--sans-serif: "Fira Sans", sans-serif;
--font--serif: "PT Serif", serif;
--font--hyperlegible: "Atkinson Hyperlegible", sans-serif;
--font--dyslexia-friendly: "Open Dyslexic", sans-serif;
--font--title: "Montserrat", sans-serif;
--font--condensed: "Fira Sans Extra Condensed", sans-serif;

/* b. Font weights -----------------------------------------------------------*/
--font-weight--light: 300;
--font-weight--regular: 400;
--font-weight--semibold: 600;
--font-weight--bold: 700;
--font-weight--black: 900;

/* c. Font sizes (mostly based on major second scale) ------------------------*/
--font-size--xs: 0.6em;
--font-size--sm: 0.8em;
--font-size--md: 1em;
--font-size--lg: 1.125em;
--font-size--xl: 1.266em;
--font-size--2xl: 1.424em;
--font-size--3xl: 1.602em;
--font-size--4xl: 1.802em;
--font-size--5xl: 2.027em;
--font-size--6xl: 2.281em;
--font-size--7xl: 2.566em;
--font-size--8xl: 3.653em;
--font-size--9xl: 4.11em;

/*------------------------------------------------------------------------------
3. Page layout
------------------------------------------------------------------------------*/
/* a. Spacing ----------------------------------------------------------------*/
--space--2xs: 0.25rem;
--space--xs: 0.5rem;
--space--sm: 0.75rem;
--space--md: 1rem;
--space--lg: 1.5rem;
--space--xl: 2rem;
--space--2xl: 3rem;
--space--3xl: 4rem;

/* b. Content areas ---------------------------------------------------------*/
--content-area-max-width: 70.5rem; // replaces $max-content-width
--content-area-max-width--sm: 40rem;

/* c. Content area grids ----------------------------------------------------*/
--grid-columns--sm: var(--standard-spacing), 1fr, var(--standard-spacing);
--grid-columns--lg: 1fr, var(--content-area-max-width), 1fr;

/* d. Breakpoints ------------------------------------------------------------*/
--breakpoint--sm: 36.3125rem; // replaces $small
--breakpoint--md: 59.4375rem; // replaces $medium
--breakpoint--lg: var(--content-area-max-width); // replaces $large

/*------------------------------------------------------------------------------
4. Decoration
------------------------------------------------------------------------------*/
/* a. Borders and outlines----------------------------------------------------*/
--border-width--sm: 0.0625rem; // replaces $border-width--thinner
--border-width--md: 0.125rem; // replaces $border-width
--border-width--lg: 0.1875rem; // replaces $border-width--thicker
--border-radius--roundest: 6.25rem;
--border-radius--rounder: 0.625rem;
--border-radius--round: 0.125rem;

/* b. Shadows ----------------------------------------------------------------*/
--shadow--soft: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
  0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
--shadow--soft--hover: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
  0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
--shadow--dark-mode: 0 0.1875rem 0.375rem rgba(0, 122, 200, 0.7),
  0 0.1875rem 0.375rem rgba(0, 63, 135, 0.9);
--shadow--dark-mode--hover: 0 0.0625rem 0.1875rem rgba(0, 122, 200, 0.12),
  0 0.0625rem 0.125rem rgba(0, 63, 135, 0.24);

/* c. Icons ------------------------------------------------------------------*/
--icon-size--xs: 1.125rem;
--icon-size--sm: 1.5rem;
--icon-size--md: 2.25rem; // replaces $icon-size
--icon-size--lg: 3rem;

/* d. Toggles ----------------------------------------------------------------*/
--toggle-size--sm: 3rem; //replaces $toggle-size
--toggle-size--md: 3.5rem;
--toggle-size--lg: 4.5rem;
--toggle-size--xl: 5.5rem;
--toggle-size--2xl: 6.5rem;
--touch-target--min: 44px;

/* e. Logo  ------------------------------------------------------------------*/
--logo-size: 10.25rem;
--logo--horizontal--width: 25rem;
--logo--horizontal--height: 6.25rem;

/* f. Forms ------------------------------------------------------------------*/
--checkbox-size: 1rem;

/*------------------------------------------------------------------------------
5. Animation
------------------------------------------------------------------------------*/
--transition-speed--slow: 800ms;
--transition-speed--md: 400ms;
--transition-speed--fast: 200ms;
--ease--standard: ease;
}
