.section-01 {
  height: calc(100vh - (var(--touch-target--min) * 2));

  @media (min-width: $medium) {
    height: calc(100vh - 4.4rem);
  }

  .logo-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0;
    background: transparent;

    svg {
      display: block;
    }
  }
}

.section-02 {
  overflow: hidden;
  padding: var(--md);
  background-image: var(--gradient--diagonal--dark-blue-to-black);

  .image-collage {
    margin-top: -10%;
    margin-bottom: -10%;
  }

  .collage-image:last-of-type {
    @media (max-width: $small) {
      display: none;
    }
  }
}

.section-03 {
  padding: var(--space--lg);
  background-color: var(--dark-blue--darker--20);

  @media (min-width: $medium) {
    padding: var(--space--3xl);
  }
}
