.section-01 {
  padding-bottom: 100vh;
}

.background-image:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  filter: brightness(0.7);
  background-image: linear-gradient(rgba(var(--blue--rgb), 0.3) 50%, transparent);
}

.tagline {
  margin: var(--space--md);
  font-size: var(--font-size--3xl);

  @media (min-width: $small) {
    margin: var(--space--xl) var(--space--3xl);
  }

  .fancy {
    display: block;
    text-transform: uppercase;
    color: var(--light-green);
    font-family: var(--font--title);
    font-size: var(--font-size--5xl);
    font-weight: var(--font-weight--black);
    line-height: 1;

    @media (min-width: $small) {
      margin-left: var(--font-size--lg);
    }
  }
}

.hearts {
  display: flex;
  justify-content: space-evenly;
  max-width: 48rem;
  margin: auto;

  span {
    flex: 0 1 45%;
  }
}

.section-02 {
  display: flex;
  flex-flow: row wrap;
  padding: var(--space--md);

  viewbook-stat {
    flex: 1 1 25%;
  }
}
