.section-01 {
  position: relative;
  min-height: calc(100vh - (var(--touch-target--min) * 2));
  padding-top: 50vh;

  @media (min-width: $medium) {
    min-height: calc(100vh - 4.4rem);
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(transparent 30%, var(--black));
  }

  .background-image {
    img {
      object-position: 20% 50%;
    }
  }

  viewbook-quote {
    @media (min-width: $medium) {
      max-width: 70%;
      margin-left: var(--space--xl);
    }
  }
}

.section-02 {
  padding: var(--space--md);
  background-color: var(--blue);
  background-image: linear-gradient(var(--black) 1%, var(--blue));

  @media (min-width: $small) {
    padding: var(--space--2xl);
  }

  p {
    margin-right: auto;
    margin-left: auto;
  }
}

.facts {
  margin-top: var(--space--lg);

  @media (min-width: $medium) {
    max-width: var(--content-area-max-width--sm);
    margin: var(--space--xl) auto 0;
  }
}

blockquote {
  font-size: var(--font-size--lg);
  font-weight: var(--font-weight--regular);
  font-style: italic;
}
