.section-01 {
  position: relative;
  min-height: calc(100vh - (var(--touch-target--min) * 2));

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(176deg, var(--dark-blue), transparent 40%);
  }

  .background-image {
    img {
      object-position: 33% 50%;
    }
  }

  h1 {
    span {
      display: block;
    }

    .fancy {
      text-transform: none;
      color: var(--light-green--lighter--40);
      font-size: var(--font-size--sm);
    }
  }

  p {
    position: absolute;
    bottom: 0;
    max-width: none;
    margin-top: 50vh;
    margin-bottom: 0;
    padding: var(--space--sm);
    background-color: rgba(var(--dark-blue--darker--40--rgb), 0.9);

    @media (min-width: $small) {
      padding: var(--space--xl);
    }
  }
}

.section-02 {
  padding: var(--space--md);
  background-image: var(--gradient--diagonal--blue-to-dark-blue);
}
