.section-01 {
  padding: var(--space--md);
  background-color: var(--gray--darker--40);

  @media(min-width: $small) {
    padding: var(--space--2xl);
  }

  h1 {
    margin: 0;
    color: var(--yellow);

    span {
      display: block;
    }
  }

  h2 {
    margin-top: var(--space--2xl);
    color: var(--yellow);
    font-size: var(--font-size--3xl);
  }

  p {
    margin-bottom: var(--space--2xl);
  }

  .hexagon-content {
    color: var(--dark-blue--darker--60);
    background-color: var(--blue--lighter--40);
  }
}
