.section-01 {
  padding-bottom: var(--space--xl);

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(var(--gray--darker--80), transparent);
  }

  h1 {
    color: var(--yellow);
  }

  p {
    margin: var(--space--xs);

    @media (min-width: $small) {
      margin: var(--space--2xl);
    }
  }

  .background-image {
    img {
      object-position: 0 0;
    }
  }

  .hexagon-content {
    background-color: rgba(var(--dark-blue--darker--40--rgb), 0.75);
    font-size: var(--font-size--lg);
    font-weight: var(--font-weight--regular);

    .fancy {
      text-transform: uppercase;
      color: var(--yellow);
      font-family: var(--font--title);
      font-weight: var(--font-weight--black);
    }
  }

  .hexagon-pair {
    & + .hexagon-pair:nth-of-type(even) {
      right: calc(var(--hexagon-margin) * -0.5);
      left: initial;

      @media (min-width: $small) {
        right: calc((var(--hexagon-width--sm) * -0.5) + (var(--hexagon-margin) * -0.5));
        left: initial;
      }

      @media (min-width: $medium) {
        right: calc((var(--hexagon-width--md) * -0.5) + (var(--hexagon-margin) * -0.5));
        left: initial;
      }
    }
  }
}
