.section-01,
.section-02 {
  padding: var(--space--md);
  background-color: var(--gray--darker--40);

  @media(min-width: $small) {
    padding: var(--space--2xl);
  }

  h1 {
    margin: 0;
    color: var(--yellow);
  }

  h2 {
    margin-top: var(--space--md);
    color: var(--yellow);
    font-size: var(--font-size--3xl);
  }
}

.section-01 {
  padding-bottom: var(--space--2xs);
}

.section-02 {
  display: flex;
  flex-flow: row wrap;
  padding-top: 0;

  > div {
    flex: 1 1 45%;

    &:nth-of-type(1) {
      margin-right: var(--space--md);
    }

    &:nth-of-type(2) {
      margin-left: var(--space--md);
    }
  }
}

.highlight {
  padding: var(--space--md);
  border: solid var(--border-width--md) var(--yellow);
}
