.section-01 {
  padding: var(--space--md);
  color: var(--dark-blue--darker--40);

  @media(min-width: $small) {
    padding: var(--space--2xl);
  }

  h1 {
    margin-top: 0;
    margin-left: 0;
    color: var(--dark-green--darker--20);

    span {
      display: block;
    }

    .fancy {
      text-transform: none;
      color: var(--dark-blue--darker--40);
      font-family: var(--font--sans-serif);
      font-size: var(--font-size--xs);
      font-weight: var(--font-weight--regular);
    }
  }
}

.background-image {
  img {
    object-position: 33%;
  }
}

.facts {
  display: grid;
  justify-content: end;
  margin: var(--space--2xl) 0;

  @media (min-width: $small) {
    padding-top: var(--space--2xl);
  }

  viewbook-fact {
    max-width: var(--content-area-max-width--sm);
    margin-bottom: var(--space--sm);
    padding: var(--space--sm);
    background-color: rgba(var(--white--rgb), 0.7);
  }
}


.huxley-logo {
  width: 24rem;
  max-width: 90%;
}
