h2 {
  font-size: var(--font-size--3xl);

  @media (min-width: $small) {
    font-size: var(--font-size--5xl);
  }
}

.section-01 {
  padding: 0;
  padding-top: 0.001rem;
  color: var(--dark-blue--darker--40);

  h1 {
    color: var(--dark-green--darker--20);

    span {
      display: inline-block;
    }

    .fancy {
      display: block;
      text-transform: none;
      color: var(--dark-blue--darker--40);
      font-family: var(--font--sans-serif);
      font-size: var(--font-size--xs);
      font-weight: var(--font-weight--regular);
    }
  }
}

.section-02,
.section-03 {
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--lg);
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), var(--gray--darker--80));
  }

  h2 {
    color: var(--light-green--lighter--20);
  }
}

.section-03 {
  &:after {
    background-image: linear-gradient(var(--gray--darker--80), rgba(0, 0, 0, 0.1));
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;

  section {
    flex: 1 1 50%;
  }
}

.wa-map {
  position: relative;
  overflow: hidden;
  max-width: none;
  padding: var(--space--lg);
  padding-top: 15vh;

  > img {
    max-width: var(--content-area-max-width--sm);
    margin: auto;
  }

  &:before,
  .map-after {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
  }

  &:before {
    left: 0;
    transform: rotate(10deg);
    transform-origin: top left;
    background: rgba(var(--dark-blue--darker--40--rgb), 0.7);
  }

  .map-after {
    right: 0;
    width: 130%;
    transform: rotate(-20deg);
    transform-origin: top right;
  }
}

.stat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  @media (min-width: $small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
