body {
  background-color: var(--blue);
}

.section-01 {
  .background-image {
    clip-path: polygon(20vw 0%, 100% 70vh, 100% 0%);

    filter: brightness(0.4);


    img {
      height: 60%;
      object-position: 60%;
    }
  }

  .hexagon {
    &:first-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.section-02 {
  position: relative;
  overflow: hidden;

  h2 {
    font-size: var(--font-size--6xl);

    @media (min-width: $small) {
      font-size: var(--font-size--8xl);
    }

    span {
      display: block;
    }
  }

  .tagline {
    color: var(--light-green--lighter--40);
    font-size: var(--font-size--xl);
    font-weight: var(--font-weight--regular);

    .fancy {
      display: block;
      text-transform: uppercase;
      color: var(--white);
      font-family: var(--font--title);
      font-size: var(--font-size--xl);
    }
  }

  .background-image:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(rgba(var(--blue--rgb), 0.5), rgba(var(--dark-blue--darker--40--rgb), 0.8));
  }

  .content {
    position: relative;
    display: grid;
    justify-items: end;
    margin-top: 20vh;
    padding: var(--space--sm);
    text-align: right;

    @media (min-width: $small) {
      padding: var(--space--xl);
    }
  }

  .hexagon {
    strong {
      text-transform: uppercase;
      font-family: var(--font--title);
    }
  }

  .hexagon-content {
    display: grid;
    align-content: center;
    justify-items: center;

    .ribbon {
      width: 20%;
    }
  }
}

.facts {
  margin: var(--space--lg) auto;

  @media (min-width: $medium) {
    max-width: var(--content-area-max-width--sm);
    margin: var(--space--xl) auto 0;
  }

  viewbook-fact {
    padding: var(--space--sm);
  }
}

.highlight-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: var(--content-area-max-width);
  margin: var(--space--lg) auto;
}

.highlight {
  flex: 0 0 100%;
  padding: var(--space--md);

  p {
    padding-top: var(--space--md);
    border-top: solid var(--border-width--md) var(--blue--lighter--40);
  }

  @media (min-width: $small) {
    flex: 0 0 50%;
  }
  @media (min-width: $medium) {
    flex: 0 0 25%;
  }
}

.corner-image {
  clip-path: polygon(0 0, 0 40vh, 80vw 0);

  position: relative;
  height: 40vh;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    opacity: 0.6;
    background-image: linear-gradient(to right, #003f87, #00619d, #0081a4, #009ea2, #67b8a1, #7fc49c, #9dd095, #bed990, #c8d777, #d7d45c, #e9ce40, #ffc61e);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.map {
  position: absolute;
  top: 0;
  width: 130vw;

  @media (min-width: $small) {
    width: 80vw;
  }
}
