body {
  background-color: var(--dark-blue--darker--40);
}

.section-01 {
  p {
    padding: var(--space--sm);

    @media (min-width: $medium) {
      padding-left: var(--space--lg);
    }
  }
}

viewbook-quote {
  --heading-color: var(--light-green--lighter--40);
  --text-color: var(--light-green--lighter--40);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;

  .flex-item {
    flex: 1 1 50%;

    &.lower {
      @media (min-width: $small) {
        padding-top: var(--space--xl);
      }
    }
  }
}

.tri-collage {
  position: relative;
  z-index: -1;
  height: 100vh;
  margin-top: -10vh;

  @media (min-width: $medium) {
    margin-top: -30vh;
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .left {
    clip-path: polygon(0 0%, 100% 80%, 100% 100%, 0% 100%);

    background: var(--blue--darker--40);
  }

  .right {
    clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%);

    img {
      object-position: 80% 40%;
    }
  }

  .center {
    clip-path: polygon(50% 40%, 100% 80%, 100% 100%, 0 100%, 0 75%);
  }
}
