.section-01 {
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  h1 {
    margin: 0;
    color: var(--dark-blue--darker--40);
  }

  p {
    color: var(--black);
  }
}

.facts {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(69, 34, 15, 0.8);
  padding: var(--space--sm);

  @media (min-width: $small) {
    margin-top: 50vh;
    background-color: transparent;
  }

  viewbook-fact {
    @media (min-width: $small) {
      flex: 0 0 50%;
    }
  }
}
