body {
  background-color: var(--blue--darker--20);
}

.section-01 {
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  h1 {
    margin: 0;
    font-size: var(--font-size--3xl);
  }

  .tagline {
    color: var(--light-green);
    font-size: var(--font-size--xl);
    font-weight: var(--font-weight--regular);
    line-height: 1;

    span {
      display: block;
    }

    .fancy {
      text-transform: uppercase;
      color: var(--white);
      font-family: var(--font--title);
      font-size: var(--font-size--6xl);
      font-weight: var(--font-weight--black);
    }
  }
}

.section-03 {
  margin: auto;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }
  
  h2 {
    color: var(--light-green);
    font-size: var(--font-size--3xl);
  }
}

.clubs {
  padding: 0;
  list-style: none;
  @media (min-width: $small) {
    column-count: 2;
  }
}
