.section-01 {
  position: relative;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--2xl);
  }

  h1 {
    margin: 0;
    color: var(--light-green);

    span {
      display: inline-block;
    }

    .fancy {
      display: block;
      text-transform: uppercase;
      text-transform: none;
      color: var(--white);
      font-family: var(--font--sans-serif);
      font-size: var(--font-size--sm);
      font-weight: var(--font-weight--regular);
    }
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(var(--gray--darker--80), transparent 60%);
  }

  .hex-container {
    display: grid;
    justify-content: end;
    margin-top: 50vh;
  }


  .hexagon-content {
    flex-flow: column;
    justify-content: center;

    p {
      margin: 0 0 var(--space--2xs);
    }
  }
}

.section-02 {
  padding: var(--space--lg) var(--space--sm);
  background-image: var(--gradient--diagonal--dark-blue-to-black);

  @media (min-width: $small) {
    padding: var(--space--2xl);
  }

  h2 {
    margin-bottom: var(--space--lg);
    font-size: var(--font-size--3xl);
  }
}
