.section-01 {
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--2xl);
  }

  h1 {
    margin: 0;
    color: var(--light-green);

    span {
      display: inline-block;
    }
  }

  viewbook-quote {
    margin-top: var(--space--2xl);
  }

  p {
    padding: var(--space--sm);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 10vh;

  viewbook-stat {
    flex: 1 1 30%;
    margin: var(--space--sm);
    padding: var(--space--sm);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.section-02 {
  padding: var(--space--sm);
  background-image: linear-gradient(#000, #00132E);

  @media (min-width: $small) {
    padding: var(--space--2xl);
    padding-bottom: var(--space--md);
  }
}
