body {
  background-image: var(--gradient--diagonal--dark-blue-to-black);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-01 {
  margin: auto;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  h1 {
    margin: 0;
  }
}

.highlight-container {
  display: flex;
  flex-flow: row wrap;
}

.highlight {
  flex: 1 1 50%;
  padding: var(--space--sm);

  .fancy {
    margin: 0;
    text-transform: uppercase;
    color: var(--blue--lighter--60);
    font-family: var(--font--title);
    font-size: var(--font-size--lg);
    font-weight: var(--font-weight--bold);
  }
}

.hexagon {
  p {
    font-size: var(--font-size--sm);
  }
}
