.section-01 {
  margin: auto;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  h1 {
    margin-top: 0;
    margin-left: 0;
  }

  h2 {
    color: var(--light-green--lighter--20);
  }

  table {
    border-collapse: collapse;
    margin-bottom: var(--space--lg);
  }

  caption {
    color: var(--light-green--lighter--20);
    font-family: var(--font--title);
    text-transform: uppercase;
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--xl);
      text-align: left;
  }

  tbody {
    tr {
      border-bottom: solid 2px var(--light-green--lighter--20);

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  th {
    padding: var(--space--sm);
    text-align: left;
    font-weight: var(--font-weight--regular);
  }

  td {
    color: var(--light-green--lighter--20);
      text-align: center;
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
  }
}

.fine-print {
  font-size: var(--font-size--sm);
  line-height: 1;
}

.quotes {
  margin-top: var(--space--3xl);
}
