body {
  background-color: var(--green--darker--20);
}

h1,
h2 {
  color: var(--light-green--lighter--20);
}


.section-01 {
  margin: auto;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  h1 {
    margin-top: 0;
    margin-bottom: var(--space--md);
    margin-left: 0;
  }

  h3 {
    margin-bottom: 0;
    text-transform: none;
    color: var(--light-green--lighter--20);
    font-family: var(--font--title);
    font-size: var(--font-size--2xl);
    font-weight: var(--font-weight--black);
  }

  .highlight {
    font-size: var(--font-size--xl);
  }

  .stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .badge {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;

    img {
      max-width: 8rem;
    }
  }

  viewbook-stat {
    flex: 0 0 50%;
  }

  .costs {
    text-align: center;
  }
}
