.section-01 {
  min-height: calc(100vh - (var(--touch-target--min) * 2));
  margin: auto;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  @media (min-width: $medium) {
    min-height: calc(100vh - 4.4rem);
  }

  h1 {
    margin: 0;
    color: var(--light-green--lighter--20);
  }

  .tagline {
    margin: 0;
    color: var(--white);
    font-family: var(--font--title);
    font-size: var(--font-size--5xl);
    font-weight: var(--font-weight--black);
    line-height: 1;

    span {
      display: block;
    }
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  }
}

.section-02 {
  margin-top: var(--space--3xl);
}

.fine-print {
  max-width: none;
  font-size: var(--font-size--xs);
  line-height: 1.2;
  background-color: rgba(0,0,0,0.5);
  padding: var(--space--xs);

  a {
    text-decoration: underline var(--border-width--sm) var(--blue--lighter--60);
    text-underline-offset: 0.1rem;
  }
}
