body {
  background-color: var(--blue--darker--20);
}

.section-01 {
  margin: auto;
  padding: var(--space--sm);

  @media (min-width: $small) {
    padding: var(--space--xl);
  }

  h1 {
    margin-top: 0;
    margin-bottom: var(--space--md);
    margin-left: 0;
  }

  h2 {
    font-size: var(--font-size--2xl);
    font-weight: var(--font-weight--bold);
  }
}

.tagline {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font--title);
  font-size: var(--font-size--xl);
  font-weight: var(--font-weight--bold);
}

.fancy {
  display: block;
  color: var(--light-green);
  font-size: var(--font-size--lg);
}

.item {
  display: flex;
  flex-flow: row wrap;

  @media (min-width: $medium) {
    flex-flow: row nowrap;
  }
}

.date,
.content {
  padding: var(--space--sm);
}

.date {
  @media (min-width: $medium) {
    flex: 0 0 20%;
    border-right: solid var(--border-width--md) var(--gray--lighter--40);
    border-bottom: solid var(--border-width--md) var(--gray--lighter--40);
  }
}

.content {
  border-bottom: solid var(--border-width--md) var(--gray--lighter--40);

  @media (min-width: $medium) {
    flex: 0 0 80%;
  }
}

.item:last-of-type {
  .date,
  .content {
    border-bottom: none;
  }
}
