.flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: var(--content-area-max-width--sm);
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  font-size: var(--font-size--4xl);
}

.item {
  flex: 1 1 45%;
  margin: var(--space--xs);
  padding: var(--space--sm);
  background-color: rgba(var(--dark-blue--darker--40--rgb), 0.7);
}


.cta {
  position: relative;
  left: 50%;
  display: inline-block;
  margin-bottom: var(--space--lg);
  padding: var(--space--md);
  transform: translatex(-50%);
  text-decoration: none;
  color: var(--white);
  border-radius: var(--border-radius--round);
  background: var(--dark-blue);
  font-size: var(--font-size--2xl);

  &:visited {
    color: var(--white);
  }
}

.center {
  text-align: center;
}
