---
layout: default
title: Don't Just Go to College...
permalink: /index
css: 00.css
---
<section class="section-01" data-aos="fade-in" data-aos-duration="3000">
  <h1 data-aos="fade-right" data-aos-delay="1000">Don't just go to college...</h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Bay-Sunset.jpg" alt="dramatic sunset over a bay" />
  </div>

  <div class="logo-wrapper" data-aos="fade-up" data-aos-delay="500">
    {%- include logo--stacked.html -%}
  </div>
</section>

<section class="section-02">
  <div class="image-collage">
    <div class="collage-image" data-aos="fade-left" data-aos-delay="100" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Carver-Gym.jpg" alt="corner of Carver Gym, with walls made entirely of large windows" />
    </div>
    <div class="collage-image" data-aos="fade-right" data-aos-delay="300" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Old-Main-Fall.jpg" alt="Old Main, a brick building, in late afternoon fall light" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="400" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/PBB-Herald.jpg" alt="red fireworks in front of the Herald building in Downtown Bellingham" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="200" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Mountain-Climb.jpg" alt="woman on top of a rocky summit at sunset" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="500" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Vikings-On-Wheels.jpg" alt="a group of wheelchair users playing basketball" />
    </div>
    <div class="collage-image" data-aos="fade-right" data-aos-delay="600" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Wilson-Interior.jpg" alt="person studying at a long table in a corner of Wilson Library" />
    </div>

    <div class="full-width collage-image" data-aos="fade-right" data-aos-delay="600" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/PBB-March.jpg" alt="President Sabah Randhawa marches with students wearing blue and carrying athletics flags" />
    </div>

    <div class="collage-image" data-aos="fade-right" data-aos-delay="500" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Clam-Class(Marco-Selida).jpg" alt="student and professor investigating tide pools" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="200" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Campus-Aerial.jpg" alt="North facing aerial view of campus, which rests between a tree neighborhood and an arboretum next to Bellingham Bay" />
    </div>
    <div class="collage-image" data-aos="fade-right" data-aos-delay="100" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Miller-Snow.jpg" alt="Miller hall, an old brick building, and red square, a brick gathering square, covered in snow" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="400" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Pride-Flags.jpg" alt="American flag, Western's flag, and pride flag flying outside the Rec center" />
    </div>
    <div class="collage-image" data-aos="fade-right" data-aos-delay="300" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Student-Explaining.jpg" alt="student sitting at a desk explaining their research" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="300" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Snow-Class.jpg" alt="students collecting snow samples" />
    </div>
    <div class="collage-image" data-aos="fade-right" data-aos-delay="100" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Art-Student.jpg" alt="student working on a large drawing" />
    </div>
    <div class="collage-image" data-aos="fade-left" data-aos-delay="500" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/Engineering-Students.jpg" alt="engineering students operating large instruments" />
    </div>
    <div class="collage-image" data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="top-center">
      <img src="{{ site.baseurl }}/assets/images/River-Class.jpg" alt="professor addressing a large group of students next to a waterway" />
    </div>
  </div>
</section>

<section class="section-03">
  <h2> Make Waves.</h2>

  <p>Western isn’t a place where you show up for four years, learn a few things, and get a job that bores you. That’s for normal schools.</p>

  <p>We want people with an appetite for ambition. People who want to learn about the universe, and then change it.</p>

  <p>At Western, students developed the world’s first transparent solar window, professors help send rovers to Mars, and graduates teach code to fifth graders.</p>

  <p>Through close relationships with professors, a community dedicated to equity justice and academic excellence, we help people find their purpose. And we inspire them to pursue that purpose with everything they’ve got. We bring together those who want to change the world, with the people who are changing it.</p>

  <p>This is a place where, together, we can <strong>MAKE WAVES.</strong></p>
</section>
