---
layout: default
permalink: /quick-facts
title: Quick Facts
css: 01.css
---
<section class="section-01">
  <h1 data-aos="fade-in">Quick Facts</h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Mountain-Class.jpg" alt="professor lecturing to a group of students on a mountain top" />
  </div>

  <p class="tagline" data-aos="fade-in" data-aos-delay="100">It's the small pieces that make up <span class="fancy" data-aos="fade-in" data-aos-delay="200">the big picture</span></p>

  <div class="hearts">
    <span data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1500"><img src="{{ site.baseurl }}/assets/images/icons/Icon-BrokenHeart.svg" alt="scattered polygons" /></span>
    <span data-aos="zoom-out" data-aos-delay="1000" data-aos-duration="1500"><img src="{{ site.baseurl }}/assets/images/icons/Icon-PolygonHeart.svg" alt="heart made of polygons" /></span>
  </div>

  <div data-aos="fade-left" data-aos-anchor-placement="bottom-center">
    <viewbook-quote
    heading="Western is the highest-ranking"
    quote="public, master's granting university in the Pacific Northwest for the 21st year in a row."
    source="U.S. News & World Report">
  </viewbook-quote>
</div>

<div class="photo-spacer">
</div>
</section>

<section class="section-02">
  <viewbook-stat
  number="~15,000"
  text="enrollment"
  data-aos="zoom-in">
</viewbook-stat>

<viewbook-stat
number="93%"
text="undergraduates"
data-aos="zoom-in"
data-aos-delay="100">
</viewbook-stat>

<viewbook-stat
number="200+"
text="academic programs"
data-aos="zoom-in"
data-aos-delay="200">
</viewbook-stat>

<viewbook-stat
number="26"
text="average class size"
data-aos="zoom-in"
data-aos-delay="300">
</viewbook-stat>

<viewbook-stat
number="19:1"
text="student-to-faculty ratio"
data-aos="zoom-in"
data-aos-delay="700">
</viewbook-stat>

<viewbook-stat
number="<100"
text="miles to Seattle and Vancouver, B.C."
data-aos="zoom-in"
data-aos-delay="600">
</viewbook-stat>

<viewbook-stat
number="4.6 years"
text="average time to graduation"
data-aos="zoom-in"
data-aos-delay="500">
</viewbook-stat>

<viewbook-stat
number="3,000+"
text="student jobs"
data-aos="zoom-in"
data-aos-delay="400">
</viewbook-stat>

<viewbook-stat
number="99%"
text="classes taught by faculty, not graduate assistants"
data-aos="zoom-in"
data-aos-delay="800">
</viewbook-stat>

<viewbook-stat
number="180+"
text="acres of forest adjacent to campus, with 6 miles of trails"
data-aos="zoom-in"
data-aos-delay="900">
</viewbook-stat>

<viewbook-stat
number="200+"
text="student-run clubs and organizations"
data-aos="zoom-in"
data-aos-delay="1000">
</viewbook-stat>

<viewbook-stat
number="650+"
text="Western students study abroad in 50+ countries in a typical year"
data-aos="zoom-in"
data-aos-delay="1100">
</viewbook-stat>
</section>

<script src="{{ '/assets/js/viewbook-quote.js' | relative_url }}"></script>
<script src="{{ '/assets/js/viewbook-stat.js' | relative_url }}"></script>
