---
layout: default
permalink: /lead-the-change
title: Lead the Change
css: 02.css
---
<section class="section-01">
  <h1 data-aos="fade-up">Lead the Change</h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Glenn-Tsunokai.jpg" alt="Dr. Tsunokai looking enthusiastic, wearing a black and gray sweater" />
  </div>

  <viewbook-quote
  heading="Dr. Tsunokai's Research"
  quote="explores two opposing themes: love and hate. With his students, he’s researching interracial dating preferences, and the recruitment, ideology, and ritualized behaviors of white supremacists in the 21st century."
  data-aos="fade-left"
  data-aos-delay="300">
</viewbook-quote>
</section>

<section class="section-02">
  <p>Prior to taking Race and Ethnic Relations with Sociology Professor Glenn Tsunokai, many students mistakenly believe racism is limited to intentionally saying or doing things to harm Black, Indigenous, and other people of color. As the class progresses, many students quickly learn how truly pervasive systemic racism is. They soon begin to understand that racism is a complicated web of oppression that is perpetuated by institutions and well-intentioned individuals every day.</p>

  <blockquote><p>“The persistence of inequality may fool some of us into believing that we are helpless to fight against it. As individuals, however, we have the power to dismantle structural oppression.”</p></blockquote>

  <p>One of Dr. Tsunokai’s favorite lessons involves showing students how ordinary people can begin to dismantle the unjust systems of oppression that exist in our society. Students learn by examining real-life examples of racism and anti-racism, often focusing on timely stories from the media and pop culture. They are then empowered to apply their learning by creating a movement to fight against any social injustice that is meaningful to them. The overall goal of this lesson is to help students realize that, while progress never comes easily, anyone can be a powerful social agent for positive change."</p>

  <div class="facts">
    <div data-aos="fade-up">
      <viewbook-fact
      src="{{ site.baseurl }}/assets/images/icons/Icon-Loudspeaker.svg"
      alt="loud speaker"
      text="<strong>Speak Truth to Power:</strong> With five student-run publications, be heard while getting experience writing, reporting and editing for award-winning publications.">
    </viewbook-fact>
  </div>

  <div data-aos="fade-up" data-aos-delay="100">
    <viewbook-fact
    src="{{ site.baseurl }}/assets/images/icons/Icon-Voting.svg"
    alt="loud speaker"
    text="<strong>Get Out the Vote:</strong> Western students received national recognition for the number of people they registered to vote in the 2016 election.">
  </viewbook-fact>
</div>

<div data-aos="fade-up" data-aos-delay="200">
  <viewbook-fact
  src="{{ site.baseurl }}/assets/images/icons/Icon-Hands.svg"
  alt="loud speaker"
  text="<strong>Lend a Hand:</strong> Volunteer your time to a cause you care about and join the campus community members who provide nearly 1 million hours of community service each year.">
</viewbook-fact>
</div>
</div>
</section>

<script src="{{ '/assets/js/viewbook-quote.js' | relative_url }}"></script>
<script src="{{ '/assets/js/viewbook-fact.js' | relative_url }}"></script>
