---
layout: default
permalink: /help-create-a-brighter-future
title: Help Create a Brighter Future
css: 03.css
---

<section class="section-01">
  <h1><span class="fancy" data-aos="fade-right">Help Create a</span> <span data-aos="fade-up" data-aos-delay="200">Brighter Future</span></h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Melody-Gao.jpg" alt="Melody Gao at a lab workstation writing in a notebook" />
  </div>

  <p data-aos="fade-in" data-aos-delay="500">Recent Western graduate Melody Gao, a Goldwater Scholar, conducts research in one of Western's biochemistry labs. In addition to her ongoing research on protein structure and interactions, Melody served as president of Western's Chemistry Club and Pre-Med Club. In the face of the COVID-19 pandemic, Melody was invited to join the polymerase chain reaction (PCR) testing team at a local laboratory. She processed samples from patients and supported the greater Bellingham community it its efforts to flatten the curve and stay healthy.</p>
</section>

<section class="section-02">
  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Kevin-Hjelstrom.jpg" alt="Kevin Hjelstrom in a maroon plaid shirt in front of foliage" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          <strong>Kevin Hjelstrom</strong> <em>(Plastics & Composites)</em> worked with another student to secure an $80,000 Student Technology Fee grant to develop a makerspace on campus for all students. The space will include laser cutters, 3D printers, and more.
        </p>
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-left">
        <p>
          <strong>Jess Costanza</strong> <em>(Linguistics)</em> is a passionate ambassador for her department. Jess started a podcast to interview linguistics faculty to discuss what linguists do and why. The podcast also allows students to directly apply their linguistic skills.
        </p>
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <img src="{{ site.baseurl }}/assets/images/portraits/Jess-Costanza.jpg" alt="Jess Costanza in black and white striped shirt in front of a treed neighborhood" />
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Rae-Baitx.jpg" alt="Rae Baitx in a yellow beanie and bright polkadot shirt in front of graphic lettering" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          <strong>Rae Baitx</strong> <em>(Design)</em> does some cool work in the community. From designing branding materials for a youth LGBTQ group to volunteering as a youth art teacher, you can see Rae’s impact throughout the Bellingham community.
        </p>
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <p>
          <strong>Jasmin Wagner</strong> <em>(Behavioral Neuroscience)</em> conducts research in a Cannabis
          Neuropharmacology and Neurophysiology lab testing two terpenes in cannabis, myrcene and linalool. Jasmin’s research will help optimize CBD medicines for different conditions.
        </p>
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <img src="{{ site.baseurl }}/assets/images/portraits/Jasmin-Wagner.jpg" alt="Jasmin Wagner in a lab coat" />
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Leo-Coulter.jpg" alt="Leo Coulter in a gray shirt in front of a treed yard" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          <strong>Leo Coulter</strong> <em>(Energy Science and Technology)</em> led a cohort of students in a
          project with Western engineers and faculty. The group initiated energy audits and an energy efficiency plan for several buildings on campus.
        </p>
      </div>
    </div>
  </div>
</section>
