---
layout: default
permalink: /academic-excellence
title: Academic Excellence
css: 04.css
---

<section class="section-01">
  <h1 data-aos="fade-down">Academic <span data-aos="fade-down" data-aos-delay="200">Excellence</span></h1>

  <p>
    <strong>Western is grounded in the liberal arts tradition</strong> — that means you get to explore a variety of academic fields while digging into your chosen major. If you can’t decide which major to pursue, you can build your own major, or pursue a major that already combines disciplines (such as Business and Sustainability, or Environmental Studies/Journalism).
  </p>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Charlotta-Abernathy.jpg" alt="Charlotta Abernathy in glasses and a black t-shirt" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          “I love how devoted Western students, staff, and faculty are to making Western better and continuing to strive for excellence.”
          <br/><strong>-Charlotta Abernathy</strong>
        </p>

      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-left" data-aos-delay="400">
        <p>
          “Western has so much to offer their students when it comes to academics and student life. The academics at Western allow all students to truly find a major they are passionate about and enjoy studying.”
          <br/> <strong>-Ethan Huynh</strong>
        </p>
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right" data-aos-delay="400">
        <img src="{{ site.baseurl }}/assets/images/portraits/Ethan-Huynh.jpg" alt="Ethan Huynh in  a Western sports jersey" />
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Dexter-Davis.jpg" alt="Dexter Davis in graduation cap and suit" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          “I’ve been able to work with undergraduates, PhD students, professors, and scientists from multiple universities and countries.”
          <br/><strong>-Dexter Davis</strong>
        </p>
      </div>
    </div>
  </div>
</section>
