---
layout: default
permalink: /honors-program
title: Honors Program
css: 05.css
---
<section class="section-01">
  <h1 data-aos="fade-left">Honors Program</h1>

  <p>
    Western's Honors Program promotes an environment where students and faculty actively seek to challenge themselves and each other. The curriculum is compatible with any major and gives students access to small classes taught by award-winning professors. The Honors Residential Community, located in the Edens and Edens North residence halls, provides a vibrant atmosphere for first- and second-year students.
  </p>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Edens-Dusk.jpg" alt="Edens Hall, with Ionic greek columns, at dusk" />
  </div>

  <div>
    <div class="hexagon-pair">
      <div class="hexagon decorate-before">
        <div class="hexagon-content" data-aos="fade-in">
          <p>
            <span class="fancy">Average Class Size</span> of 20 students per classroom
          </p>
        </div>
      </div>

      <div class="hexagon decorate-after">
        <div class="hexagon-content" data-aos="fade-in" data-aos-delay="200">
          <p>
            Create a meaningful <span class="fancy">senior capstone project</span>
          </p>
        </div>
      </div>
    </div>

    <div class="hexagon-pair">
      <div class="hexagon decorate-before">
        <div class="hexagon-content" data-aos="fade-in" data-aos-delay="400">
          <p>
            <span class="fancy">No additional fees</span> for the Honors Program
          </p>
        </div>
      </div>

      <div class="hexagon">
        <div class="hexagon-content" data-aos="fade-in" data-aos-delay="600">
          <p>
            Honors Program students have access to <span class="fancy">specialized honors advisors</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
