---
layout: default
permalink: /academic-programs
title: Academic Programs
css: 06.css
---

<section class="section-01">
  <h1 data-aos="fade-down">200+ Academic Programs</h1>

  <h2> 10 Most Popular Academic Programs</h2>
  <p>
    See <a href="https://wwu.edu/majors">wwu.edu/majors</a> for a full list.
  </p>
  <ol>
    <li data-aos="fade-in">Psychology</li>
    <li data-aos="fade-in" data-aos-delay="100">Computer Science</li>
    <li data-aos="fade-in" data-aos-delay="200">Biology</li>
    <li data-aos="fade-in" data-aos-delay="300">Pre-Medicine</li>
    <li data-aos="fade-in" data-aos-delay="400">Business Administration</li>
    <li data-aos="fade-in" data-aos-delay="500">Environmental Science</li>
    <li data-aos="fade-in" data-aos-delay="600">Marine Biology</li>
    <li data-aos="fade-in" data-aos-delay="700">Engineering and Design</li>
    <li data-aos="fade-in" data-aos-delay="800">Environmental Studies</li>
    <li data-aos="fade-in" data-aos-delay="900">Marketing</li>
  </ol>
</section>

<section class="section-02">
  <div data-aos="fade-in" data-aos-delay="1000">
    <h2>Additional Academic Opportunities</h2>
    <p>
      In addition to bachelor’s degrees, you can enrich your experience through the Honors Program, Distinguished Scholars programs, certificates, and 90+ minors, including:
    </p>

    <ul>
      <li>Arabic & Islamic Studies</li>
      <li>Arts Enterprise & Cultural Innovation</li>
      <li>Business Analytics</li>
      <li>Cybersecurity</li>
      <li>Entrepreneurship & Innovation</li>
      <li>Environmental Justice</li>
      <li>Exceptionality and Disability</li>
      <li>Film Studies</li>
      <li>Holocaust and Genocide Studies</li>
      <li>Human Rights</li>
      <li>International Studies</li>
      <li>Latinx Studies</li>
      <li>Leadership Studies</li>
      <li>Queer Studies</li>
      <li>Raza Latina Studies</li>
      <li>Salish Sea Studies</li>
      <li>STEAM (Science, Technology,</li>
      <li>Engineering, Art & Mathematics)</li>
      <li>Sustainable Design</li>
      <li>User Experience (UX) Design</li>
      <li>Women’s Literature</li>
    </ul>
  </div>

  <div>
    <div data-aos="fade-in" data-aos-delay="1200">
      <h2>Pre-professional Pathways</h2>
      <p>
        While these are not majors, pre-professional pathways can be incorporated into or taken alongside the 175+ majors offered at Western.
      </p>

      <ul>
        <li>Pre-Chiropractic</li>
        <li>Pre-Dentistry</li>
        <li>Pre-Law</li>
        <li>Pre-Medicine</li>
        <li>Pre-Nutrition</li>
        <li>Pre-Occupational Therapy</li>
        <li>Pre-Optometry</li>
        <li>Pre-Pharmacy</li>
        <li>Pre-Physical Therapy</li>
        <li>Pre-Physician Assistant</li>
        <li>Pre-Veterinary</li>
      </ul>
    </div>

    <div class="highlight" data-aos="fade-in">
      <h2>Build your own Majors</h2>
      <p>
        Through Western’s Fairhaven College of Interdisciplinary Studies, students can design their own majors, called interdisciplinary concentrations. Fairhaven faculty work closely with students through intensive advising and classes of 15-20 students. Curriculum focuses on social and environmental justice and diversity.
      </p>
    </div>
  </div>
</section>
