---
layout: default
permalink: /university-of-the-environment
title: A University of the Environment
css: 07.css
---

<section class="section-01">
  <h1><span class="fancy" data-aos="fade-left">A University of the</span> <span data-aos="fade-up" data-aos-delay="200">Environment</span></h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Hiking-Group.jpg" alt="A group of students and two dogs lounging on a grassy mountain top" />
  </div>

  Sustainability is at the heart of what we do here. Our Huxley College of the Environment was innovative at its birth in 1970, and today those ideals have spread to every corner of campus.

  Now, 50 years later, Huxley is a recognized leader in producing the next generation of environmental professionals and stewards. We have an institute dedicated to developing innovative technological and business solutions to transform energy systems, and a program that takes students out of the classroom and into Washington communities to solve real problems for real cities. If you’re passionate about the environment, you’ll be in good company here.

  <div class="facts">

    <viewbook-fact
    src="{{ site.baseurl }}/assets/images/icons/Icon-Handshake.svg"
    alt="a handshake"
    text="<strong>Western joined more than 180 other university presidents</strong>, 125 mayors, nine governors and almost 1,000 businesses in signing the Grand Coalition Statement on the Paris Agreement."
    data-aos="fade-in"
    data-aos-delay="400">
  </viewbook-fact>

  <viewbook-fact
  src="{{ site.baseurl }}/assets/images/icons/Icon-Energy.svg"
  alt="lightning bolt"
  text="<strong>We have purchased 100 percent renewable energy</strong> since students voted in 2004 to pay a yearly fee for the program."
  data-aos="fade-in"
  data-aos-delay="600">
</viewbook-fact>

<viewbook-fact
src="{{ site.baseurl }}/assets/images/icons/Icon-Recycle.svg"
alt="recycle symbol"
text="In 1971, a small group of Western students started one of the first campus recycling programs in the country. Today, the Associated Students (AS) Recycle Center diverts upwards of <strong>4,000 pounds of recyclable material daily.</strong>"
data-aos="fade-in"
data-aos-delay="800">
</viewbook-fact>

</div>
</section>

<script src="{{ '/assets/js/viewbook-fact.js' | relative_url }}"></script>
