---
layout: default
permalink: /campus-life
title: Campus Life
css: 09.css
---
<section class="section-01">
  <h1 data-aos="fade-right">Campus Life</h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Old-Main-Lawn.jpg" alt="Group of students sitting in a circle in front of Old Main" />
  </div>

  <div class="facts">
    <viewbook-fact
    data-aos="fade-up"
    src="{{ site.baseurl }}/assets/images/icons/Icon-SpeechBubbles.svg"
    alt="speech bubbles"
    text="<strong>Join the Associated Students (AS)</strong> – Whether you want to start a club or run for student body president, the AS makes it easy to get involved. The AS provides student leadership on campus, registers students to vote and produces awesome campus concerts, cultural events, engaging speakers series, and so much more.">
  </viewbook-fact>

  <viewbook-fact
  data-aos="fade-up"
  data-aos-delay="200"
  src="{{ site.baseurl }}/assets/images/icons/Icon-Loudspeaker.svg"
  alt="loud speaker"
  text="<strong>200+ student-run clubs and organizations</strong> – You’ll find clubs for every interest, including academic, cultural, art, environmental, recreational, and many more.">
</viewbook-fact>

<viewbook-fact
data-aos="fade-up"
data-aos-delay="400"
src="{{ site.baseurl }}/assets/images/icons/Icon-Tree.svg"
alt="tree"
text="<strong>Outdoors</strong> – The AS Outdoor Center will outfit you with everything you need for backpacking, hiking, skiing, or mountain biking. Resources include equipment rentals, a bike shop, outdoor excursions, educational materials, instructional clinics, and knowledgeable staff.">
</viewbook-fact>
</div>

<div class="highlight-container">
  <div class="highlight">
    <div class="hexagon" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-delay="100">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/Rock-Wall.jpg" alt="Student climbing on an indoor rock wall" />
      </div>
    </div>
    <p data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos-delay="100">
      Western’s state-of-the-art Wade King Student Recreation Center has a rock climbing wall, a pool, an indoor track, weight rooms, a cardio floor, and much more.
    </p>
  </div>
  <div class="highlight">
    <div class="hexagon" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-delay="300">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/Sehome.jpg" alt="Map at a staircase entry to the Sehome Arboretum" />
      </div>
    </div>
    <p data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos-delay="300">
      The Sehome Arboretum borders campus and offers easy access to 180 acres of woods, six miles of trails, and quiet study nooks.
    </p>
  </div>
  <div class="highlight">
    <div class="hexagon" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-delay="200">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/Undergound-VU-Late-Night.jpg" alt="Person singing on stage at the underground coffee house" />
      </div>
    </div>
    <p data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos-delay="200">
      At Western’s Underground Coffeehouse you can hear live music, study with a good cup of coffee, or just hang out with friends on comfy couches.
    </p>
  </div>
  <div class="highlight">
    <div class="hexagon" data-aos="fade-up" data-aos-anchor-placement="center-center">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/Kayak-Students.jpg" alt="Students in a yellow kayak" />
      </div>
    </div>
    <p data-aos="fade-down" data-aos-anchor-placement="top-center">
      From kayaking to sailing to paddleboarding, Western’s Lakewood property is water recreation central
    </p>
  </div>
</div>
</section>

<section class="section-02">
  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Bay-Cascades-Aerial.jpg" alt="panoramic view of Bellingham Bay, with the heavily treed town lying in front of a distant Mt. Baker" />
  </div>

  <div class="corner-image">
    <img src="{{ site.baseurl }}/assets/images/Red-Square-Aerial.jpg" alt="Aerial view of the fountain in Red Square surrounded by students" />
  </div>

  <div class="map">
    <img src="{{ site.baseurl }}/assets/images/campus-map.svg" alt="outline map of Western's campus with some buildings and notable locations highlighted and labelled" />
  </div>

  <div class="content">
    <h2><span data-aos="fade-in" data-aos-delay="200">Live</span> <span data-aos="fade-in" data-aos-delay="400">and</span> <span data-aos="fade-in" data-aos-delay="600">Learn</span></h2>

    <p class="tagline" data-aos="fade-in" data-aos-delay="800">in a place students <br/>love to call <span class="fancy" data-aos="fade-in" data-aos-delay="1000">home</span></p>

    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-in" data-aos-delay="1200">
        <div class="ribbon">
          <img src="{{ site.baseurl }}/assets/images/icons/Icon-Ribbon.svg" alt="prize ribbon" />
        </div>
        <p>
          Among the <strong>Top 10 best college towns</strong> in 2019
          <br/>
          <em>-Reviews.org</em>
        </p>
      </div>
    </div>
  </div>
</section>

<script src="{{ '/assets/js/viewbook-fact.js' | relative_url }}"></script>
