---
layout: default
permalink: /get-in-the-game
title: Get in the Game
css: 10.css
---
<section class="section-01">
  <div class="flex-container">
    <div class="flex-item">
      <h1 data-aos="fade-right">Get in the game</h1>
    </div>

    <div class="flex-item lower">
      <viewbook-quote
      heading="11 National Championships"
      quote="NCAA Division II titles include 2016 Women's Soccer, 2012 Men's Basketball, and eight Rowing Championships"
      data-aos="fade-left"
      data-aos-delay="300">
    </viewbook-quote>
  </div>
</div>

<p>Western is a fierce NCAA Division II competitor, but when it comes to athletics it’s less about watching the competition and more about getting involved. So whether you’re an aspiring NCAA athlete, want to try new sports, or prefer cheering from the bleachers, there are many ways to show Viking pride.</p>

<p data-aos="fade-in" data-aos-delay="400">
  <strong>NCAA Division II sports</strong>: basketball, soccer, cross country, indoor and outdoor track and field, golf, and women's softball, volleyball, and rowing
</p>

<p data-aos="fade-in" data-aos-delay="600">
  <strong>25 club sports</strong>: some of the most popular are lacrosse, rowing, rugby, and ultimate
</p>

<p data-aos="fade-in" data-aos-delay="800">
  <strong>Popular intramural sports</strong> include basketball, flag football, soccer, indoor soccer, softball, and volleyball
</p>

<p data-aos="fade-in" data-aos-delay="800">
  ​​WWU Athletics has won the prestigious <strong>NCAA Presidents' Award</strong> for achieving an Academic Success Rate above 90% in four of the last five years
</p>

<div class="tri-collage">
  <div class="left">
  </div>

  <div class="right">
    <img src="{{ site.baseurl }}/assets/images/Rugby-Team.jpg" alt="Rugby players in striped jerseys celebrating a win" />
  </div>

  <div class="center">
    <img src="{{ site.baseurl }}/assets/images/Rowing-Team.jpg" alt="team of students rowing" />
  </div>
</div>
</section>

<script src="{{ '/assets/js/viewbook-quote.js' | relative_url }}"></script>
