---
layout: default
permalink: /home-sweet-home
title: Home Sweet Home
css: 11.css
---

<section class="section-01">
  <h1><span data-aos="fade-in" data-aos-delay="300">Home</span> <span data-aos="fade-in" data-aos-delay="600">sweet</span> <span data-aos="fade-in" data-aos-delay="900">home</span></h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Sunset-Students.jpg" alt="Students silhouetted by a bright orange sunset over Bellingham Bay" />
  </div>

  <p>
    Your residence hall is more than just a place to sleep — it's your community. Living on campus makes it easy to connect, get involved and access campus resources right at your fingertips. It's the complete Western experience.
  </p>

  <div class="facts">
    <viewbook-fact
    src="{{ site.baseurl }}/assets/images/icons/Icon-Alarm.svg"
    alt="alarm clock"
    text="New students who meet deadlines are prioritized for housing their first year."
    data-aos="fade-up"
    data-aos-delay="100">
  </viewbook-fact>

  <viewbook-fact
  src="{{ site.baseurl }}/assets/images/icons/Icon-Laptop.svg"
  alt="person using a laptop"
  text="You can request to live with a friend, let us assign you a roommate, or search for one, all through our <a href='https://housing.wwu.edu/get-started/roommate-options'>housing website</a>."
  data-aos="fade-up"
  data-aos-delay="300">
</viewbook-fact>

<viewbook-fact
src="{{ site.baseurl }}/assets/images/icons/Icon-Cents.svg"
alt="coin with dollar sign"
text="Customize a housing plan that fits your budget by selecting the type of room and number of roommates you prefer."
data-aos="fade-up"
data-aos-delay="400">
</viewbook-fact>

<viewbook-fact
src="{{ site.baseurl }}/assets/images/icons/Icon-Graduates.svg"
alt="people in graduation caps"
text="Find your fit: choices include quiet, substance-free, gender-inclusive, Honors Program, and international community options."
data-aos="fade-up"
data-aos-delay="200">
</viewbook-fact>
</div>
</section>

<script src="{{ '/assets/js/viewbook-fact.js' | relative_url }}"></script>
