---
layout: default
permalink: /multicultural-center
title: Multicultural Center
css: 12.css
---
<section class="section-01">
  <h1 class="visually-hidden">Multicultural Center</h1>

  <p class="tagline"><span class="fancy" data-aos="fade-down">Find your community</span> <span data-aos="fade-down" data-aos-delay="300">through the Multicultural Student Center</span></p>

  <p>
    Through the advocacy work of students of color on Western’s campus, the Multicultural Center opened in 2019 and allowed for an expansion of the Ethnic Student Center (ESC), the Student Advocacy and Identity Resource Centers and more. The ESC is made up of 19 different clubs all working together to affirm identities, build a sense of community and cultivate leadership. For almost 30 years the ESC has been called a home away from home for many students of color on Western’s campus. Students within the ESC frequently become leaders on campus and in the community.
  </p>
</section>

<section class="section-02">
  <div class="hexagon-group">
    <div class="hexagon" data-aos="fade-down" data-aos-delay="500">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/portraits/ESC-Performance.jpg" alt="Students performing in cultural outfits" />
      </div>
    </div>

    <div class="hexagon" data-aos="fade-up" data-aos-delay="500">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/portraits/Color-Run.jpg" alt="two students in brightly colored powder hugging" />
      </div>
    </div>

    <div class="hexagon" data-aos="fade-down" data-aos-delay="500">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/portraits/Arab-Student-Association.jpg" alt="Arab student association tabling at info fair" />
      </div>
    </div>

    <div class="hexagon" data-aos="fade-up" data-aos-delay="500">
      <div class="hexagon-content">
        <img src="{{ site.baseurl }}/assets/images/portraits/MCC-Exterior.jpg" alt="Exterior of the multicultural center, with large window walls" />
      </div>
    </div>
  </div>
</section>

<section class="section-03">
  <h2 data-aos="fade-in">Ethnic Student Center Clubs</h2>
  <ul class="clubs">
    <li data-aos="fade-in" data-aos-delay="100">African Caribbean Club</li>
    <li data-aos="fade-in" data-aos-delay="200">Arab Student Association</li>
    <li data-aos="fade-in" data-aos-delay="300">Black Student Union</li>
    <li data-aos="fade-in" data-aos-delay="400">Blue Group</li>
    <li data-aos="fade-in" data-aos-delay="500">Chinese Student Association</li>
    <li data-aos="fade-in" data-aos-delay="600">Filipino-American Student Association</li>
    <li data-aos="fade-in" data-aos-delay="700">Japanese Student Association</li>
    <li data-aos="fade-in" data-aos-delay="800">Khmer Student Association</li>
    <li data-aos="fade-in" data-aos-delay="900">Korean Student Association</li>
    <li data-aos="fade-in" data-aos-delay="1000">Latinx Student Union</li>
    <li data-aos="fade-in" data-aos-delay="1100">Movimiento Estudiantil Chicanx</li>
    <li data-aos="fade-in" data-aos-delay="1200">de Aztlán (MEChA)</li>
    <li data-aos="fade-in" data-aos-delay="1300">Middle Eastern Student Association</li>
    <li data-aos="fade-in" data-aos-delay="1400">Mixed Identity Student Organization</li>
    <li data-aos="fade-in" data-aos-delay="1500">Native American Student Union</li>
    <li data-aos="fade-in" data-aos-delay="1600">Oceanic Student Association</li>
    <li data-aos="fade-in" data-aos-delay="1700">Queer Trans People of Color</li>
    <li data-aos="fade-in" data-aos-delay="1800">South Asian Student Association</li>
    <li data-aos="fade-in" data-aos-delay="1900">Vietnamese Student Association</li>
    <li data-aos="fade-in" data-aos-delay="2000">Western Hmong Student Association</li>
  </ul>
</section>
