---
layout: default
permalink: /bring-your-ideas-to-life
title: Bring Your Ideas to Life
css: 13.css
---
<section class="section-01">
  <h1><span class="fancy" data-aos="fade-in">Bring your</span> <span data-aos="fade-in" data-aos-delay="200">Ideas</span> <span data-aos="fade-in" data-aos-delay="400">to</span> <span data-aos="fade-in" data-aos-delay="600">Life</span></h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Georgia-Donaldson.jpg" alt="Georgia Donaldson with safety glasses operating a piece of lab equipment" />
  </div>

  <p>
    At Western, your education will be transformative. You will learn to reason your way through complex issues, be encouraged to think outside the box, and be supported as you explore new solutions to our world’s most pressing problems.
  </p>

  <div class="hex-container">
    <div class="hexagon" data-aos="zoom-in" data-aos-delay="800">
      <div class="hexagon-content" data-aos="fade-left">
        <p><strong>Georgia Donaldson</strong></p>
        <p><em>Manufacturing Engineering</em></p>
        <p>Member, Society of Women Engineers </p>
        <p>President, Society of Manufacturing Engineers (SME) </p>
        <p>1st Place for the 2018 SME Digital Manufacturing Challenge. </p>
      </div>
    </div>
  </div>
</section>

<section class="section-02">
  <h2>Even before earning their degrees, Western students...</h2>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Campus-Recycling(Rilke).jpg" alt="student breaking down old cabinetry" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          Created one of the first campus recycling programs in the nation.
        </p>
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Solar-Window(Jake-Parrish).jpg" alt="students working on a solar window" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          Developed the first completely transparent solar window.
        </p>
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon">
      <div class="hexagon-content" data-aos="fade-left">
        <p>
          Brought electricity producing stationary bikes to the Student Recreation Center, reducing its electrical footprint.
        </p>
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <img src="{{ site.baseurl }}/assets/images/portraits/Electric-Bikes.jpg" alt="student riding an electricity producing bike" />
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Composting-Program.jpg" alt="compost program students posing shoulder to shoulder" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          Launched one of the first residence hall composting programs in the country.
        </p>
      </div>
    </div>
  </div>
</section>
