---
layout: default
permalink: /art-happens-here
title: Art Happens Here
css: 14.css
---
<section class="section-01">
  <h1><span data-aos="fade-up">Art</span> <span data-aos="fade-up" data-aos-delay="200">Happens</span> <span data-aos="fade-up" data-aos-delay="400">Here</span></h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Odesza-Concert.jpg" alt="Odesza (an electronic group) playing on stage backlit by blue stage lighting and lasers" />
  </div>

  <p data-aos="fade-left" data-aos-delay="800">
    Art is a vital part of Western’s campus and community. Campus itself is a nationally-recognized interactive sculpture garden; students walk through and under beautiful sculptures to get to class. There’s even art underneath your feet; Vikings traditionally love to paint the bricks that make up Western’s walkways. In the broader Bellingham community you’ll discover monthly art walks, summer festivals, live theater, an outstanding independent film theater, a circus guild, and live music every night of the week.
  </p>

  <div class="stats">
    <viewbook-stat
    number="3"
    text="professional campus art galleries"
    data-aos="zoom-in"
    data-aos-anchor-placement="top-center"
    data-aos-delay="">
  </viewbook-stat>

  <viewbook-stat
  number="2"
  text="additional student-curated galleries"
  data-aos="zoom-in"
  data-aos-anchor-placement="top-center"
  data-aos-delay="">
</viewbook-stat>

<viewbook-stat
number="16"
text="art and art history majors to choose from"
data-aos="zoom-in"
data-aos-anchor-placement="top-center"
data-aos-delay="">
</viewbook-stat>

<viewbook-stat
number="300"
text="performances and exhibits of student work each year"
data-aos="zoom-in"
data-aos-anchor-placement="top-center"
data-aos-delay="">
</viewbook-stat>

<viewbook-stat
number="35"
text="installations throughout campus make up one of the nation’s top 10 public sculpture collections"
data-aos="zoom-in"
data-aos-anchor-placement="top-center"
data-aos-delay="">
</viewbook-stat>

<viewbook-stat
number="20+"
text="campus concerts produced by the Associated Students in 2019"
data-aos="zoom-in"
data-aos-anchor-placement="top-center"
data-aos-delay="">
</viewbook-stat>
</div>
</section>

<section class="section-02">

  <viewbook-quote
  heading=""
  quote="When you’re located between Seattle and Vancouver, B.C., you have the benefit of seeing incredible artists and popular musicians as they pass through town. None of these shows come close to the 2019 return of ODESZA and DEATH CAB FOR CUTIE to the town where it all began. The show was a homecoming for both bands, having formed when their founding members were students at Western. In appreciation for their school and the city of Bellingham, net proceeds from the show were donated to Western’s Alumni Association scholarship endowment."
  data-aos="fade-left">
</viewbook-quote>
</section>

<script src="{{ '/assets/js/viewbook-quote.js' | relative_url }}"></script>
<script src="{{ '/assets/js/viewbook-stat.js' | relative_url }}"></script>
