---
layout: default
permalink: /build-your-future
title: Build Your Future
css: 15.css
---

<section class="section-01">
  <h1 data-aos="fade-right">Build Your Future</h1>

  <div class="highlight-container">
    <div class="highlight" data-aos="zoom-in" data-aos-delay="400">
      <p>
        <span class="fancy">We'll connect you with internships.</span> Western students have interned for Microsoft, Boeing, the Washington State Legislature, Merrill Lynch, REI, Swedish Hospital, the Seattle Mariners, the White House, Tesla, NASA, the National Wildlife Federation, the United Nations, K2 Sports – just to name a few.
      </p>
    </div>

    <div class="highlight" data-aos="zoom-in" data-aos-delay="500">
      <p>
        <span class="fancy">Western is in the top 5 in the nation</span> among master’s granting institutions for grads who go on to earn research doctorates. –Survey of Earned Doctorates
      </p>
    </div>

    <div class="highlight" data-aos="zoom-in" data-aos-delay="600">
      <p>
        <span class="fancy">Woodring College of Education is consistently one of the top 3</span> annual producers of new educators in the state of Washington; <span class="fancy">74% of Washington School Districts have a Western Alumnus</span> among their certificated staff of teachers, administrators and others; in Western Washington, 93% of districts do.
      </p>
    </div>

    <div class="highlight" data-aos="zoom-in" data-aos-delay="700">
      <p>
        <span class="fancy">Western continually produces multiple students who receive Fulbright Scholarships</span> year after year
      </p>
    </div>

    <div class="highlight" data-aos="zoom-in" data-aos-delay="900">
      <p>
        <span class="fancy">One of the top 20 peace corps volunteer producing universities</span> among large schools in 2020.
      </p>
    </div>

    <div class="highlight" data-aos="zoom-in" data-aos-delay="1000">
      <p>
        <span class="fancy">88% of Bachelor's Recipients</span> are either employed or continuing their education within 6 months of graduating. –Graduate Outcomes Report
      </p>
    </div>
  </div>
</section>

<section class="section-02">
  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <p>
          <strong>Anna Novack</strong><br />
          <em>Plastics and Composites Engineering</em><br />
          “After I graduate, I will start working as a manufacturing engineer at The Boeing Company working on commercial airplanes in Everett, WA. I plan to run for a position in The Society of Women Engineers at the national level and continue my path of leadership at Boeing.”
        </p>

      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <img src="{{ site.baseurl }}/assets/images/portraits/Anna-Novack.jpg" alt="Anna Novack in a Western sweatshirt" />
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <img src="{{ site.baseurl }}/assets/images/portraits/Travis-Felver.jpg" alt="Travis Felver in a purple damask shirt" />
      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <p>
          <strong>Travis Felver</strong><br />
          <em>History and East Asian Studies</em><br />
          “I’m graduating this quarter, and plan to get my certification to become a high school instructor. I’ve poured myself into my classes and work to make sure I did the very best I could to set an example to others around me, my son, and ultimately to prove that the belief of refusing to give up is deserved.”
        </p>
      </div>
    </div>
  </div>

  <div class="hexagon-pair">
    <div class="hexagon decorate-before">
      <div class="hexagon-content" data-aos="fade-left">
        <p>
          <strong>Avalon Hayes</strong><br />
          <em>Physics and Astronomy</em><br />
          “I was very recently awarded a full scholarship to the Eindhoven University of Technology in the Netherlands, so I’ll be headed there to start a two-year master’s program in Applied Physics! After that, I hope to go into research (probably industrial research and development) developing photovoltaic devices (solar cells) and materials.”
        </p>

      </div>
    </div>

    <div class="hexagon-link"></div>

    <div class="hexagon decorate-after">
      <div class="hexagon-content" data-aos="fade-right">
        <img src="{{ site.baseurl }}/assets/images/portraits/Avalon-Hayes.jpg" alt="Avalon Hayes in blue rimmed glasses and blue scarf" />
      </div>
    </div>
  </div>
</section>
