---
layout: default
permalink: /tuition
title: Tuition
css: 16.css
---

<section class="section-01">
  <h1 data-aos="fade-in">Tuition</h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Dan-Otis-Unsplash.jpg" alt="thick forest of pine trees" />
  </div>

  <h2 data-aos="fade-in" data-aos-delay="200">Cost of Attendance</h2>

  <p>
    Earning a college degree is one of the smartest decisions you will make. At thousands of dollars less than private colleges and large research universities, you will find that Western is a great value, and competitive in terms of quality and cost.
  </p>

  <table>
    <caption>2021-22 Estimated Annual Costs</caption>
    <thead>
      <tr>
        <th scope="row">&nbsp;</th>
        <th scope="col">WA Resident</th>
        <th scope="col">Non-Resident</th>
      </tr>
    </thead>
    <tbody>
      <tr data-aos="fade-in" data-aos-delay="100">
        <th scope="row">Tuition</th>
        <td>$6,893</td>
        <td>$24,120</td>
      </tr>
      <tr data-aos="fade-in" data-aos-delay="200">
        <th scope="row">Fees*</th>
        <td>$2,110</td>
        <td>$2,110</td>
      </tr>
      <tr data-aos="fade-in" data-aos-delay="300">
        <th scope="row">Housing and Meals**</th>
        <td>$13,080</td>
        <td>$13,080</td>
      </tr>
      <tr data-aos="fade-in" data-aos-delay="400">
        <th scope="row">Books and Supplies**</th>
        <td>$1,011</td>
        <td>$1,011</td>
      </tr>
      <tr data-aos="fade-in" data-aos-delay="500">
        <th scope="row">Transportation**</th>
        <td>$1,359</td>
        <td>$1,359</td>
      </tr>
      <tr data-aos="fade-in" data-aos-delay="600">
        <th scope="row">Personal Expenses**</th>
        <td>$2,481</td>
        <td>$2,481</td>
      </tr>
      <tr data-aos="fade-in" data-aos-delay="700">
        <th scope="row">Total Cost of Attendance</th>
        <td>$26,934</td>
        <td>$44,161</td>
      </tr>
    </tbody>
  </table>

  <p class="fine-print"><em>Costs represent annual expenses for full-time students (10-18 credits)</em></p>

  <p class="fine-print"><em>* Fees include a one-time enrollment confirmation fee, technology, health services, student recreation center, public transportation, etc.</em></p>

  <p class="fine-print"><em>** Not fixed costs; varies depending on student, living arrangements and meal plan</em></p>

  <div class="quotes">
    <viewbook-quote
    data-aos="fade-left"
    heading="One of the 100 Best Values"
    quote="in the nation among public colleges for combining educational excellence
    with economic value."
    source="Kiplinger’s Personal Finance">
  </viewbook-quote>

  <viewbook-quote
  data-aos="fade-left"
  data-aos-delay="200"
  heading='One of the 50 best "Bang for the buck"'
  quote="schools in the west, based on graduation rates and low loan default rates."
  source="Washington Monthly">
</viewbook-quote>
</div>

</section>


<script src="{{ '/assets/js/viewbook-quote.js' | relative_url }}"></script>
