---
layout: default
permalink: /scholarships-financial-aid
title: Scholarships and Financial Aid
css: 17.css
---

<section class="section-01">
  <h1 data-aos="fade-left">Scholarships and Financial Aid</h1>

  <p>
    At Western, there are a number of resources available to help you and your family with college expenses.
  </p>
  <ul>
    <li>
      Scholarships recognize academic achievement, leadership potential, special talents, and multicultural achievement. Scholarships for non-resident students include our highly competitive Western Undergraduate Exchange (WUE) program.
    </li>
    <li>Everyone can apply for need-based financial aid and low-interest loans.</li>
    <li>Eligible students have access to need-based work study (FAFSA dependent) and other on- and off-campus employment opportunities.</li>
  </ul>

  <h2>Important Dates</h2>
  <p>
    For the Free Application for Federal Student Aid (FAFSA) and the Washington Application for State Financial Aid* (WASFA):
  </p>

  <ul>
    <li><strong>October 1</strong> – FAFSA and WASFA applications open</li>
    <li><strong>January 31</strong> – Western’s priority filing deadline for FAFSA and WASFA</li>
  </ul>

  <p class="highlight">
    <strong>Western’s FAFSA School Code is: 003802</strong>
  </p>

  <p>
    <em>
      * Washington residents ineligible to complete the FAFSA due to immigration status may apply for state financial aid by completing the WASFA.
    </em>
  </p>

  <div class="stats">
    <div class="badge" data-aos="zoom-in" data-aos-delay="200">
      <img src="/assets/images/icons/Icon-badge.svg" alt="badge" />
    </div>

    <viewbook-stat
     data-aos="zoom-in"
    number="More than 65%"
    text="of students receive some form of financial aid, including grants, scholarships, loans, and work-study."
    data-aos="zoom-in"
    data-aos-delay="200">
  </viewbook-stat>

  <viewbook-stat
   data-aos="zoom-in"
  number="$25 Million+"
  text="in scholarships disbursed during the 2019-2020 academic year"
  data-aos="zoom-in"
  data-aos-delay="400">
</viewbook-stat>

<div class="costs" data-aos="zoom-in">
  <h3>Estimate your Costs</h3>
  <p><a href='https://admissions.wwu.edu'>Use our Net Price Calculator</a></p>
</div>

</div>
</section>
<script src="{{ '/assets/js/viewbook-stat.js' | relative_url }}"></script>
