---
layout: default
permalink: /admissions-process
title: Admissions Process
css: 18.css
---

<section class="section-01">
  <h1 data-aos="fade-right">Admissions Process</h1>
  <p class="tagline" data-aos="fade-down" data-aos-delay="200">How to Stand Out</p>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Swinging-Student.jpg" alt="person swinging on a rubber buoy off of a sailboat" />
  </div>

  <p data-aos="fade-in" data-aos-delay="400">
    While your academic achievement is the most significant factor in the admission decision, we know there is a lot more to you than your GPA.
  </p>

  <p data-aos="fade-in" data-aos-delay="600">
    <strong>Western does not require ACT or SAT scores.</strong>
  </p>

  <p data-aos="fade-left" data-aos-delay="800">
    <strong>Get involved:</strong> We want to learn how you’re involved in your school and community, and about the interests, passions and talents you will bring to campus. That’s why our application review considers your grade trends, course rigor, contributions to community, achievements, and diverse experiences, as well as your GPA and test scores, if provided.
  </p>

  <p data-aos="fade-left" data-aos-delay="1000">
    <strong>Challenge yourself:</strong> Take classes that push you to think in new ways, explore tough topics, and support you in becoming a well-rounded student. A full load of standard academic courses, Advanced Placement (AP), International Baccalaureate (IB), Cambridge International, Running Start or other College-in-the-High-School and Honors courses provide an excellent foundation for college success.
  </p>

  <h2 data-aos="fade-in" data-aos-delay="900">Resources</h2>
  <ul>
    <li data-aos="fade-in" data-aos-delay="1000"><a href="https://admissions.wwu.edu/fy-reqs">Full list of high school course requirements</a></li>
    <li data-aos="fade-in" data-aos-delay="1100"><a href="admissions.wwu.edu/team">Our Admissions Counselors are here to help – connect with your counselor</a></li>
  </ul>

  <section class="section-02">
    <p class="fine-print">
      Western Washington University (WWU), in compliance with applicable laws and in furtherance of its commitment to fostering an environment that welcomes and embraces diversity, does not discriminate on the basis of race, color, creed, religion, national origin, sex (including pregnancy and parenting status), disability, age, veteran status, sexual orientation, gender identity or expression, marital status or genetic information in its programs or activities, including employment, admissions, and educational programs. Inquiries may be directed to the Executive Director, Title IX and ADA Coordinator, Office of Civil Rights and Title IX Compliance, Western Washington University, Old Main 345, MS 9021, 516 High Street, Bellingham, WA 98225; <a href="tel:360-650-3307">360-650-3307</a> (voice) or 711 (Washington Relay); <a href="mailto:crtc@wwu.edu">crtc@wwu.edu</a>.
    </p>

    <p class="fine-print">
      WWU is committed to providing reasonable accommodations to qualified individuals with disabilities upon request. To request an accommodation in the application process, please contact the Disability Access Center, Wilson Library 170; <a href="tel:360-650-3083">360-650-3083</a> (voice) or <a href="tel:360-255-7175">360-255-7175</a> (VP); <a href="mailto:drs@wwu.edu">drs@wwu.edu</a>. One week advance notice appreciated. To request this document in an alternate format, please contact the Office of Admissions, Old Main 200; <a href="tel:360-650-3440">360-650-3440</a>; <a href="mailto:admissions@wwu.edu">admissions@wwu.edu</a>
    </p>
  </section>
</section>
