---
layout: default
permalink: /application-timeline
title: Application Timeline
css: 19.css
---
<section class="section-01">
  <h1 data-aos="fade-down">Application Timeline</h1>

  <div class="timeline">
    <div class="item" data-aos="fade-up" data-aos-delay="200">
      <div class="date">
        <h2>Mid-August</h2>
      </div>
      <div class="content">
        <p class="tagline">Fall application goes live: <a href="https://admissions.wwu.edu/apply">Apply Now</a></p>
        <p>In the fall and early winter students should:</p>
        <ul>
          <li>request to have high school transcripts sent.</li>
          <li>visit campus, in person or online.</li>
          <li>take the SAT or ACT (optional).</li>
          <li>contact our helpful Admissions Counselors with questions.</li>
        </ul>
      </div>
    </div>

    <div class="item" data-aos="fade-up" data-aos-delay="400">
      <div class="date">
        <h2>October 1</h2>
      </div>
      <div class="content">
        <p class="tagline">
          Financial aid filing begins
        </p>
        <p>
          File the Free Application for Federal Student Aid (FAFSA) or the Washington Application for State Financial Aid (WASFA)* beginning October 1. Your FAFSA or WASFA must be submitted by January 31 (Western’s priority filing date) to be considered for the most favorable financial aid. File the FAFSA at fafsa.gov — <strong>Western’s school code is 003802. <a href="https://readysetgrad.org/wasfa">File the WASFA</a></strong>
        </p>

        <p>
          <em>* Washington state residents ineligible to complete the FAFSA due to immigration status may apply for state financial aid by completing the WASFA.</em>
        </p>
      </div>
    </div>

    <div class="item" data-aos="fade-up" data-aos-delay="600">
      <div class="date">
        <h2>November 1</h2>
      </div>
      <div class="content">
        <p class="tagline">
          Early action deadline
        </p>
        <p>
          Why wait? Students who complete their admission application by November 1 are guaranteed to receive a response by December 31. Admitted Early Action students will also receive expedited scholarship review and financial aid notification. Students admitted to Western via Early Action have until May 1 to confirm their intent to enroll.
        </p>
      </div>
    </div>

    <div class="item" data-aos="fade-up">
      <div class="date">
        <h2>December</h2>
      </div>
      <div class="content">
        <p>
          Financial aid award notification begins for admitted Early Action students who submitted a valid FAFSA for financial aid consideration at Western.
        </p>
      </div>
    </div>

    <div class="item" data-aos="fade-up">
      <div class="date">
        <h2>January 31</h2>
      </div>
      <div class="content">
        <p class="tagline">
          Regular decision application deadline, financial aid priority deadline & priority scholarship deadline
        </p>
        <p>
          Last day to submit your application for fall quarter to Western before it’s marked late. Admission decisions are made on a rolling basis — most applicants will receive an admission decision by early April. On-time applicants get full consideration for merit scholarships. Merit scholarship recipients are notified by mid-April.
        </p>
      </div>
    </div>

    <div class="item" data-aos="fade-up">
      <div class="date">
        <h2>May 1</h2>
      </div>
      <div class="content">
        <p class="tagline">
          National college decision day
        </p>
        <p>
          Deadline to accept your offer of admission. If you haven't already, apply for on-campus housing.
        </p>
      </div>
    </div>

    <div class="item" data-aos="fade-up">
      <div class="date">
        <h2>August</h2>
      </div>
      <div class="content">
        <p class="tagline">
          New student orientation
        </p>
        <p>
          Western’s new student orientation, advising, and registration program for incoming first-year students.
        </p>
      </div>
    </div>

    <div class="item" data-aos="fade-up">
      <div class="date">
        <h2>September 21</h2>
      </div>
      <div class="content">
        <p class="tagline">
          Classes begin <span class="fancy">Welcome to Western</span>
        </p>
      </div>
    </div>
  </div>

</section>
