---
layout: default
permalink: /visit
title: Visit
css: 20.css
---
<section class="section-01">
  <h1>
    <span data-aos="fade-in" data-aos-delay="0">V</span><span data-aos="fade-in" data-aos-delay="100">i</span><span data-aos="fade-in" data-aos-delay="200">s</span><span data-aos="fade-in" data-aos-delay="300">i</span><span data-aos="fade-in" data-aos-delay="400">t</span>
  </h1>

  <div class="background-image">
    <img src="{{ site.baseurl }}/assets/images/Bay-Sunset.jpg" alt="Dramatic sunset over Bellingham Bay" />
  </div>

  <a class="cta" href="https://admissions.wwu.edu/visit">Schedule a Visit</a>

  <div class="flex-container">
    <div class="item" data-aos="zoom-in" data-aos-delay="400">
      <h2>Virtual Connections</h2>
      <p>
        Explore campus from wherever you are with our virtual visit options, including virtual campus tours and student panels, one-on-one video chats with Admissions Counselors, and more.
      </p>
    </div>

    <div class="item" data-aos="zoom-in" data-aos-delay="600">
      <h2>Campus Tours</h2>
      <p>
        Spend time exploring our beautiful campus, which offers views of the bay and easy access to outdoor recreation and Bellingham's vibrant downtown.
        <ul>
          <li>Take a tour of campus with a current student and learn about Western's admissions process.</li>
          <li>Arrange to meet with academic departments.</li>
        </ul>
      </p>
    </div>

    <div class="item" data-aos="zoom-in" data-aos-delay="800">
      <h2>Other Opportunities</h2>
      <p>
        Large open-house style events for prospective students occur in the fall and spring. <a href="https://admissions.wwu.edu/visit">Check our website</a> for the most up-to-date information regarding special visit opportunities.
      </p>
    </div>

    <div class="item" data-aos="zoom-in" data-aos-delay="1000">
      <h2>Discovery Days</h2>
      <p>
        In addition to a campus tour, our Discovery Days program includes an admissions presentation and a panel where you and your family can ask questions of an Admissions Counselor and current students. You'll also have the opportunity to visit academic departments, learn about student support resources, tour the Wade King Student Recreation Center, and more.
      </p>
    </div>

    <div class="item center" data-aos="zoom-in">
      <h2>Office of Admissions</h2>
      <p>
        <a href="tel:360-650-3440">360-650-3440</a> <span aria-hidden="true">|</span> <a href="mailto:admissions@wwu.edu">admissions@wwu.edu</a> <span aria-hidden="true">|</span> <a href="https://admissions.wwu.edu">Admissions Website</a>
      </p>
    </div>
  </div>

</section>
