<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <a class="skip-link visually-hidden" href="#main">Skip to main content</a>
  <body>
    <header>
      {%- include navigation.html -%}
    </header>

    <main class="page-content" aria-label="Content" id="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

  {%- include footer.html -%}

</html>
